[2018-03-11 13:23] alainm23 opened #1 "Planner needs a new icon"
The current icon does not reflect what Planner wants to do

[2018-04-16 15:46] danrabbit opened #6 "Welcome icon is too big"
This `project-new` icon should only be 48px to look right on this screen

[2018-04-16 19:30] alainm23 commented on #5
I made the mistake of confusing width by height

[2018-04-17 17:34] #6 closed

[2018-04-19 13:04] ArthurS1 commented on #1
What do you think about something like that?
![builder 64](https://user-images.githubusercontent.com/33732772/38993031-bf8ef61e-43e2-11e8-904c-78cda9cc7660.png)

[2018-04-20 02:04] alainm23 commented on #1
Hey, thanks, the model looks good, although I already saw several applications using the same icon. We need Planner to have a different icon, easy to distinguish and novel (especially the latter)

[2018-04-21 20:04] alainm23 commented on #17
If I already have this bug crawler and the next version will be corrected, thank you for sending me a report.

[2018-04-22 13:01] alainm23 commented on #18
Wao, te prepondere en español ya que se que eres de España xd, la verdad no había visto este bug. Muchas gracias por reportarlo, la verdad quitare esa descripción y pondré un Gtk.Label con la ultima actualización el proyecto (Ultima actualización hoy, ayer, hace 'n' dias) ya que la descripción ya se ve en la vista general.

[2018-04-22 13:03] bitseater commented on #18
Si te sirve mi opinión, me parece buena idea. Si necesitas algo, no dudes en preguntar. Saludos.

[2018-04-22 13:03] alainm23 commented on #18
Muchas gracias, ya esta corregido.

[2018-04-23 04:15] Alecaddd commented on #1
I can help you with that if you want. I did Sequeler, Akira, and Lights-up icons.
Do you have some ideas and guidelines in terms of what would you like to have?

[2018-04-23 04:17] Alecaddd commented on #4
Just FYI, LibGDA hasn't seen an update since 2013, and it shows.
Sequeler is based on LibGDA and I had so many issues with outdated commands, mismatching column data, and so on.
If the type of data is fully controlled by you and not the user, you should be fine.

[2018-04-23 07:28] alainm23 commented on #20
Thank you very much for trying Planner, the feedback is always good. I will cover your requests in a new version and other improvements in UX that is coming.

[2018-04-23 07:30] alainm23 commented on #4
Haha, I think I'll close this, I'm not working on libGDA and I see more complicated migration.

[2018-04-23 07:42] alainm23 commented on #1
I want your opinion @Alecaddd This was my first problem, since I created my icon by grabbing models of other icons and putting them together. But the time has passed and I feel that I'm an icon if it looks good.
What do you think of the icon, really the icon of a hammer reflects planning or working on something?

[2018-04-23 14:18] alainm23 commented on #24
It is an important function, ingestivagre how to do it

[2018-04-24 17:02] alainm23 commented on #1
I think the current icon is fine, although any improvement will be well received.

[2018-04-25 10:27] ArthurS1 commented on #1
I think maybe just adding something near the hammer would be nice, just so that people dont mistake this app with some kind of developpement tool

[2018-04-25 10:33] ArthurS1 commented on #1
Something like this maybe, or replacing the calendar with a clipboard
![68747470733a2f2f63646e2e7261776769742e636f6d2f616c61696e6d32332f706c616e6e65722f6d61737465722f646174612f69636f6e732f3132382f636f6d2e6769746875622e616c61696e6d32332e706c616e6e65722e737667 svg](https://user-images.githubusercontent.com/33732772/39240698-e49a13fc-4884-11e8-95d0-1f4947243495.png)

[2018-04-28 19:59] SophiePie opened #27 "Support for hyperlinks"
It would be nice to be able to have hyperlinks to external files or web pages in each list/description/etc;
And great app!
![screenshot from 2018-04-28 20 53 00](https://user-images.githubusercontent.com/38818135/39400377-e90cb7e2-4b26-11e8-9618-754f2f627e62.png)

[2018-05-04 05:52] alainm23 commented on #26
The deadline function does not work yet, my goal is to make you enter a deadline and Planner tells you how many days you have left and compare your current progress with this progress.

[2018-05-04 05:54] alainm23 commented on #23
This function is already being implemented.

[2018-05-07 14:12] aggalex commented on #29
After exploring your code, I found out that the headerbar resides in the widgets/headerbar.vala file, which has the icon of the project (I think you called this "avatar"), which is attached to a grid, which is then added to the headerbar. But that grid has a margin of 12 pixels (!), and that makes it truly wide. How about using different margins for left, right, top and bottom, making top and bott

[2018-05-07 14:40] alainm23 commented on #29
This is a big UX problem, I could send me an image to be able to better review the problem.

[2018-05-07 14:50] alainm23 commented on #29
I could compile this new version, let me know if the problem continues, and if possible attach a photo please.
`git clone -b dev https://github.com/alainm23/planner.git
cd planner
meson build --prefix=/usr
cd build
sudo ninja install
com.github.alainm23.planner
`

[2018-05-07 15:51] aggalex commented on #29
Will do when I find the time

[2018-05-07 16:13] alainm23 commented on #29
Thank you, I'm looking forward for your answer.

[2018-05-07 17:35] aggalex commented on #29
Boy you sure have lots of dependencies! I had to install the *-dev versions one by one. Anyway, that UI change was a bit... unexpected. It works though!!! In my 1266x768 display, the headerbar looks perfect! Here's the screenshots I promised you:
![screenshot from 2018-05-07 19 53 53](https://user-images.githubusercontent.com/11951328/39713798-bc87d272-5230-11e8-95bb-2003b710c6d8.png)
![screenshot

[2018-05-07 17:49] alainm23 commented on #29
Problem 1: The idea is to make it clean, In Loki add the class Gtk.PopOver solves the problem, for Juno I have another solution
![planner -1](https://user-images.githubusercontent.com/33765137/39715882-47e12676-51f4-11e8-83e3-ebfd6c12a984.png)

Problem 2: Problem 2: This is a UX problem. You are right, I will use Gtk.Entry since a description does not require formatting.

Problem 3: It is solved t

[2018-05-07 18:11] aggalex commented on #29
Perfection! Thank you for your time.

[2018-05-09 19:28] alainm23 commented on #1
What do you think of this icon
![com github alainm23 planner svg](https://user-images.githubusercontent.com/33765137/39835238-30c68dc6-5395-11e8-84fe-5b1043216d30.png)

[2018-05-11 07:26] Alecaddd commented on #1
Here's my proposal for the icon.
Making it a bit more unique and eccentric.
If you're using this thread to list bugs or let other help you, should reopen the issue.
Is not a bad thing to have issues opened until they're completely solved. It's also a good practice to let other users or possible contributors know where the can help.

![com github alainm23 planner](https://user-images.githubusercont

[2018-05-11 14:18] alainm23 commented on #1
It looks very good, although the truth does not manage to understand the concept at first sight.

[2018-05-13 05:34] Alecaddd commented on #1
I agree that it's more an abstract concept, but it communicates some uniqueness and peculiarity that resonates in the app.
The blue shape resembles the letter P, but also looks like the face of a stylized and cute animal.
The "teeth" are the typical colored labels of a paper planner.
Anyway, here's the link to the SVG if you wanna try how it looks on the app drawer or dock, or if you wanna use it

[2018-05-13 18:08] ArthurS1 commented on #1
I have to agree, this icon is really cool :)

[2018-05-14 14:08] alainm23 commented on #1
@Alecaddd  Sorry but it gives me: Page not found

[2018-05-15 04:50] Alecaddd commented on #1
@alainm23 Uploaded to another host: https://ufile.io/7mpdx

[2018-05-28 20:55] kafran opened #31 "[Enhancement] Distribute as Flatpak"
This peace of software is awesome. You should distribute it though flathub, so other people from others distros could find it. Not always I'm on eOS but I always download and install Planner from their repository.

[2018-05-29 14:23] alainm23 commented on #31
Thank you very much for using Planner, I am currently working on a new version and the distribution by Flatpak is in my planner.

[2018-05-30 01:33] Hedronmx commented on #1
Que opinas?
![rojo n](https://user-images.githubusercontent.com/26935602/40693896-ba59b5fc-636e-11e8-9a07-e615b774edb7.png)
![rojo](https://user-images.githubusercontent.com/26935602/40693897-ba6c4852-636e-11e8-9354-7a54547d1504.png)
![azul blanco](https://user-images.githubusercontent.com/26935602/40693898-ba7dcde8-636e-11e8-854e-98c66d891a05.png)
![azul](https://user-images.githubusercontent.com

[2018-06-15 09:11] aadilayub commented on #32
Would copying the `database.db` file backup my data?

[2018-06-15 13:49] alainm23 commented on #32
This is a functionality that will come for the next version, but yes, copying the database.db is a solution

[2018-06-16 09:16] armaccloud opened #33 "CalDav Integration"
In order to be able to follow up tasks from any device and integrate with external calendars, it would beneficial to set up CalDav integration.

[2018-06-20 07:32] aadilayub commented on #34
Just chiming in to say that I run into this issue as well. Thanks for reporting.

[2018-06-20 17:59] Trumpy opened #35 "Export as JSON format"
It would be interesting to have the option to save our projects as JSON to easily backup our extensive tasks or to display in another front-end, for on the go.

[2018-07-16 05:51] js-d-coder opened #36 "Icon to remove list is not obvious"
To remove a list you have select it and click on the edit icon on the left side of the window and then you see remove icon, which is not obvious. First time I wanted to remove a list I was totally lost.
Suggestion: Please put edit and remove icon next to the name of the list so that it is very obvious and not frustrating.
Thanks!

[2018-07-16 05:53] js-d-coder opened #37 "Using & (ampersand) in the name of the list makes it look weird"
![screenshot from 2018-07-16 11 14 59](https://user-images.githubusercontent.com/23054879/42744483-7bedc62c-88ea-11e8-97c7-aaf8c6cf9fab.jpeg)

![screenshot from 2018-07-16 11 22 22](https://user-images.githubusercontent.com/23054879/42744493-960fad4a-88ea-11e8-8c0f-7f7cb06be419.jpeg)

I hope I have made my issue obvious from these images. Thanks for this software!

[2018-08-31 09:44] ChristopherNugent commented on #26
IMO the UI should not be present until the feature is developed

[2018-10-05 14:05] alainm23 commented on #41
Thank you so much for asking.

For the first question, if I had it in mind although not in a very clear way, I am currently working on a new version that leaves the previous one obsolete, I will take your request into account.

I am not sure if the application can be built outside of elementary OS, but as soon as the new version is available, I will try to publish it in Flatpak so that it is avail

[2018-10-09 14:05] #36 closed

[2018-10-09 19:43] ArthurS1 commented on #42
What would you think about some kind of clock with an arrow around it for "upcoming". The "today" icon you made looks perfect to me, and i liked the way the "inbox" icon looked like on your half erased draw. Reminds me of the mail system icon. Would have loved to draw something right now, but unfortunately, it's getting late.

[2018-10-09 19:48] alainm23 commented on #42
The idea is not bad, an icon with a clock to "upcoming".

[2018-10-09 19:56] ArthurS1 commented on #42
![try1](https://user-images.githubusercontent.com/33732772/46694858-2c524e00-cc0e-11e8-9732-1c928a3689ba.png)
The best i can do for now.

[2018-10-14 13:35] alainm23 commented on #42
the design of the icons looks amazing, the colors look good, the colors look good, but it can be improved.

[2018-10-14 15:13] ArthurS1 commented on #42
There is still improvements to be made of course but do you want me to to start polish them, make them follow the documentation, and get them ready for the app?

[2018-10-15 18:10] alainm23 commented on #42
Thank you very much for your help.
I made a small change in one of the elements, now **"upcoming"** will be called **"tomorrow"**, this will not have any significant change other than highlighting the tasks that are pending for tomorrow.

Now with respect to the size of the icons, I will only use a 32px

If you have them ready, you could send a PR changing these models here:
https://github.com/art

[2018-10-15 21:31] bilelmoussaoui commented on #31
@alainm23 Wanna some help with this?

[2018-10-16 00:50] alainm23 commented on #31
Thank you very much, I am currently working on a new version for Planner and I am redesigning all the UI and UX, before distributing it on another platform I want to see if the experience is the same as in elementary OS. If this is not the case, the distribution by Flatpak will have to wait. If you want you can be testing the development version: https://github.com/artegeek/planner/tree/dev?files=

[2018-10-18 09:52] dabou opened #44 "Test title label and internationalization"
Test the title label is not compatible with internationalization in src/Widgets/ProjectNewUpdate.vala line 281.
In other language of English, create an other new project always edit the first project.

PS: Thanks for your work. It's very intuitive.

[2018-10-20 21:36] ArthurS1 commented on #42
I have been busy installing juno and trying stuff last few days. Be sure i will work on that tomorrow.

[2018-10-30 08:37] rasmus91 opened #2 "Publish for Juno"
Hi there

Will this app be published for Juno within the forseeable future?

[2018-10-30 13:51] alainm23 commented on #2
Of course, Planner is still in development and when it is ready it will be published in AppCenter

[2018-11-06 09:23] harisvsulaiman opened #3 "Some design suggestions."
I know that this is not finalized, but here are some suggestions.

* Isn't it better if this is a dialog?
![image](https://user-images.githubusercontent.com/29329325/48054251-d522a780-e1d2-11e8-82ac-dfc389b2ff2d.png)
So that the windows are separated from the main window, and multiple add item dialogs can be opened at once.

* Vertical split for a subtask is better since this UI confused me and so

[2018-11-06 15:29] alainm23 commented on #3
Thanks for your comments, the feedback is always good.

- If I thought about using a dialog, but decided not to do it since adding more windows to the interface makes it messy, to solve the task aggregation at the same time, I am adding different shortcuts to make the creation process faster.

- Here is a good point, I also thought that the horizontal orientation was confusing, I will change it to

[2018-11-09 02:32] sefeiba commented on #2
Looking forward!

[2018-11-11 17:43] ILope92 opened #4 "Design - 0"
As I liked the old version of the project, it was very convenient.

![image](https://user-images.githubusercontent.com/31201817/48316245-20352400-e5f2-11e8-9f6a-6099673c0ae5.png)

Where is this interface now?!

[2018-11-12 14:46] alainm23 commented on #4
The first version of Planner was good, you can create projects, to-do list. The problem is that the interface does not adapt to the new functions it proposed to include. So I decided to redesign it, but do not worry, many of the functions of the first version of Planner will be available. quiet everything is for good

[2018-11-12 14:46] #4 closed, assigned to nobody

[2018-11-12 14:46] #3 closed, assigned to nobody

[2018-11-19 22:19] btd1337 opened #5 "Support others DE's"
Consider a solution that allows your system to be used in other DE's like Gnome, KDE, Cinnamon, Budgie ...

[code]

[2018-11-20 14:26] alainm23 commented on #5
I think this problem happens because I'm using libgranite.
But first, I have to see what Planner looks like outside the official theme of elementary.

[2018-11-20 15:07] btd1337 commented on #5
I think it's not Granite because I use other elementary applications in Arch + Gnome.

[2018-11-20 17:15] cjfloss commented on #5
On [DeadlineButton.vala#L42](https://github.com/alainm23/planner/blob/0d0335cd82b4fbaf9371da0be671bf9aa69f514c/src/Widgets/DeadlineButton.vala#L42) you use

```Granite.DateTime.get_relative_datetime `(deadline);```

[Granite's get_relative_datetime()](https://github.com/elementary/granite/blob/558502d379592bef370baf5f246872c84ee930a2/lib/DateTime.vala#L66) uses [this function](https://github.com/e

[2018-11-26 16:47] alainm23 commented on #5
@btd1337 The problem has already been solved. Try compiling the latest version in the repository

[2018-11-27 21:46] alainm23 commented on #6
Thank you

[2018-11-28 02:54] btd1337 commented on #5
@alainm23 Not solved for me:

[code]

[2018-11-28 17:20] alainm23 commented on #5
Look for the problem and solve it, try compiling the latest version in the repository and please let me know if it gives you an error or not. thank you for the feedback 😁

[2018-11-28 17:57] btd1337 commented on #5
The same error remains...

[2018-11-28 18:05] alainm23 commented on #5
Well, I'll see the need to stop using Granite.DateTime, in the afternoon I solve it, do not despair

[2018-11-30 16:44] alainm23 commented on #5
@btd1337 You are sure that you are still giving this error, and have been reviewing the code of Granite.DateTime and at no time the functions I am using have any reference to any specific property of elementary.

[2018-11-30 21:37] btd1337 commented on #5
The error persists...

Were you able to run on another DE?

[2018-12-02 00:41] Hedronmx opened #7 "Use Elementary Icons"
While the icons you use inside the app are good, I think you should use the elementary icons.
For example the calendar icon.

[2018-12-02 01:46] cjfloss commented on #5
It is still using something from wingpanel's datetime
[code]

[2018-12-02 01:59] cjfloss commented on #5
[Granite.Widgets.TimePicker](https://github.com/elementary/granite/blob/4f2e6793cc2b5575a54d177e02069f3a2ce775ea/lib/Widgets/TimePicker.vala#L234) uses the function `is_clock_format_12h ()` which uses `io.elementary.desktop.wingpanel.datetime`

[2018-12-02 05:11] btd1337 commented on #5
This library doesn't solve the problem?

https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gstreamer/html/GstClock.html

[2018-12-02 05:40] alainm23 commented on #7
Thanks for your comment, I'm using all possible elementary icons except for the icons for Inbox, Today and Tomorrow, you can see it in the last update I posted a few minutes ago.

[2018-12-02 05:41] #7 closed, assigned to nobody

[2018-12-02 05:44] alainm23 commented on #5
Fuck, I think I'll create my own Widget to define a time and put in the settings an option to be able to choose a 24 or 12 hour format without relying on some elementary default settings.

[2018-12-02 05:47] alainm23 commented on #5
@cjfloss Thank you very much, you have a good eye.

[2018-12-02 06:20] Hedronmx commented on #7
Is it because there are no icons for that? Just wondering. Your app looks and works really awesome

[2018-12-02 13:18] alainm23 commented on #5
![timepicker vala](https://user-images.githubusercontent.com/33765137/49340215-d1841400-f60a-11e8-9e14-1fd6c3bd916b.png)

[2018-12-02 13:28] alainm23 commented on #5
@btd1337 Now, brother, compile the latest version, I think I can finally close this issue 😎

[2018-12-02 18:13] btd1337 commented on #5
Now works! Thanks bro!

[2018-12-02 18:13] #5 closed, assigned to nobody

[2018-12-02 18:21] alainm23 commented on #5
![image](https://user-images.githubusercontent.com/33765137/49343353-38b6be00-f635-11e8-8ad7-72b811bd382d.png)

[2018-12-03 03:21] Hedronmx opened #8 "Sync with dropbox or any other cloud service?"
Is it possible to sync with dropbox or any other kind of cloud service. I currently use eOS on both my laptop and desktop pc and I would loove to sync between both.

[2018-12-03 03:26] alainm23 commented on #8
Yes, I would love this function, I am looking for information on how to use the Dropbox API.

[2018-12-03 03:29] Hedronmx commented on #8
The app could let the user choose where the settings are located, so they can save those settings on the dropbox folder. That way you can sync with multiple device. This could be a guerilla way to implement Dropbox

[2018-12-03 03:35] alainm23 commented on #8
Very good idea, still to do some things before the first release. Possibly this function is for the next version

[2018-12-06 00:57] milosmrda opened #9 "unistall app from eOS juno"
how to unistall from system?

[2018-12-06 02:28] alainm23 commented on #9
To uninstall, in the same folder where it built it:  sudo ninja uninstall

[2018-12-06 02:29] #9 closed, assigned to nobody

[2018-12-13 15:40] alainm23 opened #10 "Ideas for a new icon for Planner 2"
### The current icon is fine, it just does not look good when the badge is activated.

![icon](https://user-images.githubusercontent.com/33765137/49949305-4e44a700-fec3-11e8-8736-ccfbf9a0eb3d.png)

[2018-12-14 06:17] harisvsulaiman opened #11 "Keyboard based navigation and controll"
It would be nice if there were shortcuts associated with every action available in planner.
A nice UI for cheat sheet for shortcuts would also be nice.

[2018-12-19 18:37] harisvsulaiman opened #12 "Flatter Tag ui"
It would be better if the tags were flat.

[2018-12-19 20:45] alainm23 commented on #12
Thank you, you could provide an example of how it would look better, I currently use that style https://github.com/alainm23/planner/blob/master/src/Widgets/LabelChild.vala#L4

[2018-12-20 06:21] Alecaddd commented on #10
Ah, good call, I'll see what I can do

[2018-12-21 16:04] alainm23 commented on #12
Resolved in the last commit.

[2018-12-21 16:04] #12 closed, assigned to nobody

[2018-12-27 08:49] lsahn-gh opened #13 "Port to flatpak and on flathub"
flatpak is one of the coolest tools for application-containerization. I had been working to port it to flatpak for a few days and I am just finished all the tasks.
I'd take these jobs, porting to flatpak and put it on flathub, if you don't mind.
Thank you for the cool app by the way.

[2018-12-27 11:27] alainm23 commented on #13
Thank you for support, I am interested FLATPACK but Planner still does not have any official release, this software has a bug and some things to improve, you could expect a little more please

[2018-12-28 08:20] bilelmoussaoui commented on #13
If you need any help with Flatpak let me know.

[2018-12-30 05:04] lsahn-gh commented on #13
@alainm23 What do you think of adding flatpak manifest into the top-level source tree?

If you put the manifest in the source tree, anyone can pull planner and develop it with gnome-builder as well as flatpak without the pain of installing dependencies. This is the way of GNOME developers using.

[2019-01-01 20:24] erazemk opened #14 "Meson dependency "libedataserverui-1.2" not found"
**Describe the bug**
When trying to build with meson, this error pops up:

`meson.build:27:0: ERROR:  Dependency "libedataserverui-1.2" not found, tried pkgconfig`

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. Download all the dependencies and elementary-sdk (might not be necessary)
3. Start `meson build`
4. See error

**Expected behavior**
Meson builds the project

**Desktop

[2019-01-02 01:18] alainm23 commented on #14
I’m sorry, I forget to add this dependence on my README file, try to install `libedataserverui1.2-dev`

[2019-01-02 02:54] appcenter[bot] opened #15 "Failed to build com.github.alainm23.planner"
AppCenter failed to build com.github.alainm23.planner.

<details>

<summary> Build Log </summary>

[code]

</details>

### Build Information
Affects Architecture: amd64
Affects Distribution: juno
Built with the following references:
- refs/tags/1.0.1

[2019-01-02 08:44] erazemk commented on #14
I actually had `libedataserverui-1.2-dev` installed. Could the problem be that my version was `libedataserverui-1.2-2`?

[2019-01-02 13:38] alainm23 commented on #14
`libedataserverui-1.2-dev` is diferent to  `libedataserverui1.2-dev`

[2019-01-02 13:46] erazemk commented on #14
Oh, you're right. It works perfectly now, thanks :)

One more dependency I had to install was `gtksourceview-3.0`.

[2019-01-02 13:46] #14 closed, assigned to nobody

[2019-01-02 13:53] alainm23 commented on #14
Hey thank you, I also forgot to put this dependency in my README file

[2019-01-02 17:42] #15 closed, assigned to nobody

[2019-01-02 17:55] appcenter[bot] opened #17 "Failed to build com.github.alainm23.planner"
AppCenter failed to build com.github.alainm23.planner.

<details>

<summary> Build Log </summary>

[code]

</details>

### Build Information
Affects Architecture: amd64
Affects Distribution: juno
Built with the following references:
- refs/tags/1.0.2

[2019-01-02 17:59] #17 closed, assigned to nobody

[2019-01-03 07:14] #2 closed, assigned to nobody

[2019-01-03 11:27] harisvsulaiman opened #18 "Cannot start planner"
Cannot start planner, i clicked on the icon and it didn't start. Then i tried to start it via the terminal
Seems like planner is experiencing some kind of segfault.

**I did run planner while in development**
[code]

[2019-01-03 11:32] harisvsulaiman commented on #18
@alainm23 fixed it! seems like it was caused by a stale database file
`rm ~/.cache/com.github.alainm23.planner/database.db` fixed it.
Should consider adding this to `ninja uninstall`

[2019-01-03 11:32] #18 closed, assigned to nobody

[2019-01-03 11:58] Hedronmx opened #19 "Can't Run App after click the copy button on a project"
**Describe the bug**
After clicking what appears to be a copy button, next to the label button on a project view, the app crashed and now I can't open it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project
2. Click on the copy button
3. App crashes

**Desktop (please complete the following information):**
 - Elementary OS Juno
 - Version 1.0.3

**Additional context**

[code]

[2019-01-03 12:08] harisvsulaiman commented on #18
ninja uninstall hook needs to be implemented for it to work in a non hacky way.
https://github.com/mesonbuild/meson/issues/1974

[2019-01-03 12:33] alainm23 commented on #19
Try to delete the DB file
`/home/<user>/.cache/com.github.alainm23.planner/database.db`

[2019-01-03 12:49] alainm23 commented on #18
That's gonna make thanks

[2019-01-03 13:58] alainm23 commented on #19
@Hedronmx  Thanks for the feedback, I am recreating the steps to see the bug, but it does not give me any error.
Did you install Planner before the first launch in AppCenter?
If so, the bug was fixed in the current version

[2019-01-04 01:53] Hedronmx commented on #19
This is first time installing from AppCenter, I tried in both my laptop and desktop.
I have recorded a video showing you how to get the bug
https://gfycat.com/DampRigidArrowworm

[2019-01-04 03:10] alainm23 commented on #19
Great, the video helps a lot, I recreate the bug in a clean installation, I hope I can soon solve it.

[2019-01-04 03:58] alainm23 commented on #19
This error happens because you do not have any text or something copied in your clipboard and the value is null. For the moment you can delete the database, in the next release this problem will be solved, thank you very much

[2019-01-04 04:38] Hedronmx commented on #19
No problem! Already deleted the DB. Muchas gracias!

[2019-01-04 19:30] kkinder commented on #8
For that matter, integration into Google Calendar would be pretty useful.

[2019-01-04 19:37] alainm23 commented on #8
@kkinder Google Calendar synchronization works in this version, if you use elementary, you can add a calendar account from the elementary native calendar, enter your Google account and all events will be synchronized.

[2019-01-04 20:43] #19 closed, assigned to nobody

[2019-01-04 21:03] alainm23 commented on #19
@Hedronmx This problem was corrected, wait for the update 🔥

[2019-01-05 15:00] aggalex opened #20 "Make animations consistent"
The "New plan" opening animation is bad for these reasons:
1. Does not play well with shadows
2. Is not consistent with the closing animation
I would suggest something like a fly-up animation, basically the reverse of the closing animation you use.

[2019-01-05 15:22] alainm23 commented on #20
I agree with point 2, the opening animation is not the same with the closed animation, I am working to solve this problem.

[2019-01-05 22:44] Hedronmx commented on #8
Any details on this? Are you going to allow changing the db's location?

[2019-01-06 03:12] Hedronmx opened #21 "All Task view"
**Is your feature request related to a problem? Please describe.**
I want to quickly view all my tasks. I currently have plenty of projects and checking project by project is a bit too overwhelming.

**Describe the solution you'd like**
Add an "All Task" view on the sidebar, similar to inbox or Today

**Describe alternatives you've considered**
Checking projects one by one
**Additional context**
A

[2019-01-06 03:32] alainm23 commented on #21
Good point, I have it in mind for the next release.

[2019-01-06 06:41] harisvsulaiman commented on #8
@Hedronmx  Rather than change db location why dont we implement a sync engine and add that as some sort of plugin.This way a mobile client could be developed and make it a service that could fund development and help @alainm23 work more time on this.

thoughts?

[2019-01-06 07:08] alainm23 commented on #8
@harisvsulaiman I remember that you implemented Firebase with Vala, What happened with this project? Currently I am working with Firebase  I am developing mobile apps and I have a good experience with apps in real time.

[2019-01-06 07:46] harisvsulaiman commented on #8
@alainm23 I developed an app with firebase actually modified the agenda app in appcenter to make it realtime with firebase. Ask
It was a proof of concept project since it relies on official firebase js sdk . I made another app with this method (pushy see repo).
It used a hybrid method (vala and nodejs).

I'm currently building a easy scaffolding tool for that method. See (valk repo).
Hopefully I'l

[2019-01-06 07:47] harisvsulaiman commented on #8
@alainm23 I develop react native apps too. But used to develop kotlin/Java based Android apps too.

[2019-01-06 14:32] alainm23 commented on #8
@harisvsulaiman I was reviewing your code in Pushy and I think I got to understand how it works, even so, I would like to see the code of the Agenda using Firebase

[2019-01-06 15:16] harisvsulaiman commented on #8
@alainm23 unfortunately i deleted that repo. But it works in the same way pushy does, both are hacky implementations while i'm happy with idea of a nodejs/vala hybrid app, I'm not particularly happy with the implementation.

[2019-01-07 00:17] Hedronmx commented on #8
@harisvsulaiman I suggested that way because it would be the easiest and fastest way. I based that on this app https://github.com/BoostIO/Boostnote

[2019-01-07 12:39] alainm23 commented on #21
I am adding an option in the preferences to make this item visible.

[2019-01-07 14:18] alainm23 opened #22 "Upcoming does not have to show today's tasks."

[2019-01-07 18:45] Hedronmx opened #23 "Labels preview on Task"
**Describe the solution you'd like**
Change the color of the tag icon so we can tell what label that task has.

**Describe alternatives you've considered**
Opening the task to find out what label it has

[2019-01-07 18:47] Hedronmx opened #24 "Choose date for reminder"
**Is your feature request related to a problem? Please describe.**
I can't choose a date on the reminders, that means I can't get reminded to do my homework before the deadline.

**Describe the solution you'd like**
Choose a date and time for the reminder

**Describe alternatives you've considered**
Setting the deadline to a day or two before the actual deadline.

[2019-01-08 20:27] alainm23 opened #25 "Add support for Github Issues"
# To-do
- [x] Design
- [x] Update the database.
- [x] Validate if the Github Username exist.
- [x] Save User information (name, email, profile image) in the database.
- [x] Get all your own repositories, not folks, and store them in the database.
- [x] Start scanning all the active repositories from time to time.
- [x] Add the new issue as a new task in Inbox.
- [x] Notify the user

[2019-01-08 20:35] alainm23 opened #26 "Improve the weather widget"
The weather widget can be improved with some of these features:

- [x] Background color for each weather forecast
- [x] Hourly weather
- [x] Translate weather forecast

[2019-01-09 04:08] alainm23 opened #28 "Travis gives me a failed build"
I have not the slightest idea why this happens, if someone can help me I will be very grateful.

https://travis-ci.com/alainm23/planner

[2019-01-09 04:11] alainm23 commented on #27
Thank you very much for the translation, I have no idea because Travis marks it as failed, I will review it tomorrow at the first hour.

[2019-01-09 15:01] cjfloss commented on #28
on [this line](https://github.com/alainm23/planner/blob/0da0174919320c27e862a79e0dab9c4aebf32478/.travis.yml#L25), it should be `npm i -g @elementaryos/houston`

reference: https://github.com/elementary/houston/wiki/Continuous-Integration

[2019-01-09 15:06] cjfloss commented on #28
Another thing, you should add the name-domain variable, so that PR don't report fail.

like this: https://github.com/tomatoers/tomato/pull/61/files

[2019-01-09 15:20] alainm23 commented on #28
Thank you very much, it works

[2019-01-09 15:20] #28 closed, assigned to nobody

[2019-01-10 05:47] alainm23 commented on #25
This is the design, thoughts?
![github 1](https://user-images.githubusercontent.com/33765137/50948674-50256a00-1471-11e9-8c9b-6e8272f3eeaf.png)
![github 2](https://user-images.githubusercontent.com/33765137/50948679-54ea1e00-1471-11e9-9594-7a46028d3329.png)

[2019-01-10 10:11] WebShapedBiz opened #29 "Suggestion: start minimized"
Since the icon has a nice notification badge it would be nice have an option to start the app minimized.

[2019-01-11 04:18] marcielmj opened #30 "Add Brazilian portuguese translations"
Would be great to have the Portuguese language,

I can help with the Brazilian Portuguese translation if you want to

[2019-01-11 04:35] alainm23 commented on #30
Of course, Planner already has translations into Spanish and Romanian and all the other languages ​​are already pre-built, just need to translate it.
Check:
https://github.com/alainm23/planner/blob/dev/po/pt.po

[2019-01-11 12:06] alainm23 commented on #31
Thank you.

[2019-01-11 12:21] #30 closed, assigned to nobody

[2019-01-11 12:23] alainm23 commented on #29
I’m sorry, but I do not understand the suggestion, you could explain better by please.

[2019-01-11 12:28] WebShapedBiz commented on #29
Sorry for not being clear. I've put Planner in my startup apps and every time the system goes up the Planner main window is shown. I was just thinking that it would be nice to have an option to start it minimized, like for example Skype.

[2019-01-11 12:31] alainm23 commented on #29
It's true, I have the same problem, I'm going to investigate how to do this, thanks for the comment.

[2019-01-11 12:34] WebShapedBiz commented on #29
Thank you for your time and effort putting together this beautiful app, I really think it should be used as a showcase of what out-of-the-box thinking together with ElementaryOS can achieve.

[2019-01-11 14:52] alainm23 opened #32 "Support to import and export projects"

[2019-01-11 21:03] #22 closed, assigned to nobody

[2019-01-12 07:37] harisvsulaiman opened #34 "Render markdown for github issue body"
![image](https://user-images.githubusercontent.com/29329325/51070662-043e1500-166b-11e9-8ce1-3cb683e849df.png)

[2019-01-12 13:44] alainm23 commented on #34
For this problem we have two possible solutions:
1️⃣ Create an algorithm to remove all Markdown format and convert it to text only
2️⃣ Support to Markdown
3️⃣ Remove support to Github Issues (😎)

[2019-01-12 16:24] harisvsulaiman commented on #34
@alainm23 I like the support markdown option 😎
 Maybe we could render a webview with a markdown to html/css lib injected to the frame

[2019-01-13 03:10] alainm23 commented on #24
I hope that with this new design I can improve a bit the UX.
![reminder 1](https://user-images.githubusercontent.com/33765137/51081132-961f3f80-16b6-11e9-8726-b7b084f4812c.png)
![reminder 2](https://user-images.githubusercontent.com/33765137/51081131-961f3f80-16b6-11e9-9cf3-5c51e2ea258a.png)

I'm thinking about adding a configuration in the preferences to assign how many minutes or hours before Pl

[2019-01-13 15:23] #25 closed, assigned to nobody

[2019-01-13 15:23] #11 closed, assigned to nobody

[2019-01-14 07:39] lsahn-gh commented on #13
Feel free to test it and get me feedback :)

[2019-01-14 14:04] NathanBnm commented on #10
Maybe you can just reverse it ?

[2019-01-14 14:44] #24 closed, assigned to nobody

[2019-01-14 14:45] alainm23 commented on #36
Thank you very much for the translation, I hope to launch a next version this weekend

[2019-01-14 14:47] NathanBnm commented on #36
You're welcome, it's a great app! :+1:

[2019-01-14 15:06] Hedronmx commented on #24
That is good :heart:

[2019-01-14 17:22] alainm23 commented on #13
@memnoth Thank you very much for the PR. I'm trying to build with this command:
`flatpak-builder build-dir com.github.alainm23.planner.json`
And I get this error:
`Failed to init: Unable to find sdk org.gnome.Sdk version 3.30`
Possibly it's because I'm using elementary OS Juno

[2019-01-15 02:10] lsahn-gh commented on #13
You need to install Sdk, Platform before run ``flatpak-builder``.

- flatpak install --user flathub org.gnome.Sdk//3.30
- flatpak install --user flathub org.gnome.Platform//3.30
- flatpak install --user flathub io.elementary.BaseApp//juno

Then try it again.

Or you can use ``gnome-builder`` which is IDE and has built-in flatpak commands that download all the required dependencies automatically ex

[2019-01-15 03:02] lsahn-gh commented on #13
Also you can check out that whether you have required runtimes with ``flatpak list``.
You have to have those three runtimes to run planner.

[2019-01-15 15:42] cemetary opened #38 "[Solicitud] Mostrar tareas completadas"
Hola.

He observado que transcurrido un día, las tareas completadas ya no se muestran en el _dashboard_, a pesar de que se encuentre activa la opción de «Mostrar tareas completadas». ¿Esta funcionalidad es a propósito o es un _bug_? Sea como fuere, me gustaría tener la opción de poder visualizar las tareas completadas sin importar en qué fecha fueron realizadas.

Gracias y felicitaciones por tu so

[2019-01-15 15:51] alainm23 commented on #38
Gracias por el comentario, estuve recreando el bug y me doy cuenta que el botón "Mostrar tareas completadas" no funciona cuando no hay ninguna tarea abierta, arreglare esto en la próxima versión.

[2019-01-15 18:26] guilmour-asc opened #40 "Window border doesn't work"
**Description**
Dark theme style has `rounded` borders on bottom, while light/normal style hasn't.
(_In my opinion, rounded borders go well with your app, hehe_)

**To Reproduce**
On the app:
1. Go to the `Menu` button
2. Swap to the dark theme, via the Night Mode switch

**Screenshots (My custom theme is the exact copy of elementary GTK, theme, just changed colors)**
![captura de tela de 2019-01-

[2019-01-15 19:09] alainm23 commented on #40
You have eagle eyes, I also saw the same behavior, by default the edges are rounded, but it only works in night mode and I have no idea why it happens, I will investigate how to fix it.
By the way I like how Planner looks with its default theme, this gives me many ideas, thanks for feedback.

[2019-01-15 21:02] alainm23 opened #41 "Add support to Todoist"
In the same way as we do with support for Github Issues, we can bring each new task created in the Todoist Inbox

[2019-01-17 05:14] alainm23 opened #42 "Improve Notifications"
- [x] If Planner is running in the background and a notification arrives, the application should be opened
- [x] When you create a task with a reminder and the notification is released, when you click on the notification you should open the application and show which task sent the reminder

[2019-01-18 12:47] kr428 opened #43 "Translation de_DE="
What about adding a German (de_*) translation? Any plans? Any way to easily contribute that if not there already?

[2019-01-18 14:01] kr428 commented on #43
(Please consider my pull request on that)

[2019-01-18 14:13] alainm23 commented on #44
Hey, it seems that everything is fine, thank you very much for the translation, I hope to launch this this weekend.

[2019-01-18 14:31] #42 closed, assigned to nobody

[2019-01-18 14:35] #43 closed, assigned to nobody

[2019-01-18 14:35] #38 closed, assigned to nobody

[2019-01-18 14:36] #32 closed, assigned to nobody

[2019-01-18 15:15] alainm23 commented on #21
@Hedronmx This function is in the implemented in the new version but not entirely, I currently have a problem with my computer which does not allow me to update my 'schema' configuration, for the moment you can use this solution, I hope to fix my computer.

![all tasks](https://user-images.githubusercontent.com/33765137/51395067-ead51700-1b09-11e9-8a06-d56a47e4bae7.png)
![alltasks 2](https://user-

[2019-01-18 16:38] ezeveliz commented on #25
Hi, I would like to know if this just supports public repos, because I can't see the private ones. Thanks!

[2019-01-18 16:46] alainm23 commented on #25
Thanks for the comment, in theory the feature brings all the repositories only excluding the folks.
I will do some tests to give you a better answer

[2019-01-18 16:57] alainm23 commented on #25
@ezeveliz I was doing the tests and I see that the Github API only returns the public repositories.

[2019-01-18 17:11] ezeveliz commented on #25
@alainm23 Oh ok, that's strange, because the permissions give full control of private repositories, anyway, thanks and  greetings from Argentina

[2019-01-18 17:29] alainm23 commented on #25
@ezeveliz You are right, I will investigate more about the problem, greetings from Perú.

[2019-01-18 21:37] NathanBnm opened #45 "Please add Appdata to be translated"
Translating `appdata.xml` file will help people to know about your app in the AppCenter. For example mostly French users won't download the app if it's description is in English, 'cause they will think that the app isn't translated and won't take time to read if its not translated.

What do you think?

[2019-01-19 04:59] alainm23 commented on #45
Thanks for comment, appdata if you are available for translation, you may only need to update the translations in your language.
Check: https://github.com/alainm23/planner/blob/7cdb9b1d43d095d5540d22374a5e57b4e5e6c792/po/fr.po#L886

[2019-01-20 14:07] #45 closed, assigned to nobody

[2019-01-21 07:50] kr428 opened #47 "Planner doesn't start in German language"
Just received the latest version via elementary update; am unable to start anymore. Running from the terminal ends up in a segmentation fault, no real valuable additional information. How to help?

[2019-01-21 13:56] alainm23 commented on #47
Sorry, try manually deleting the database file:
`/home/<user>/.cache/com.github.alainm23.planner/database.db`

[2019-01-21 14:23] kr428 commented on #47
Still, unfortunately. :( Seems rather random here:

[22259.325026] com.github.alai[11669]: segfault at 7fff9a8d9fc8 ip 00007fafdbba7309 sp 00007fff9a8d9f90 error 6 in libharfbuzz.so.0.10702.0[7fafdbb7e000+9c000]
[22265.304296] com.github.alai[11686]: segfault at 7ffc8b7c5fa0 ip 00007f9fe4f03098 sp 00007ffc8b7c5fa8 error 6 in libpango-1.0.so.0.4000.14[7f9fe4eea000+4a000]
[22272.796582] com.github.a

[2019-01-21 16:19] alainm23 commented on #47
I really have no idea why this happens.

[2019-01-24 06:05] ghost commented on #23
Hmm, I was a bit surprised to see that you labelled this issue as low priority. I hope you get to work on this soon. I will be nice to just look at all your tasks and know which label they have on them just like how Github shows you all the labels on your issues

[2019-01-24 14:20] alainm23 commented on #23
I will work on this feature tonight.

[2019-01-24 18:14] NathanBnm opened #49 "Appdata file is corrupted"
I don't know if it's only with French, but the app view in the AppCenter looks like this for me. Some stings are missing and screenshots too:

![image](https://user-images.githubusercontent.com/45366162/51699098-30af4500-200c-11e9-8ae6-e3811d1fb683.png)
![image](https://user-images.githubusercontent.com/45366162/51699126-3dcc3400-200c-11e9-95f3-795204d44f02.png)

[2019-01-24 20:16] alainm23 commented on #49
In Spanish, everything is fine, I'll check what happens.

![captura realizada el 2019-01-24 15 13 32](https://user-images.githubusercontent.com/33765137/51705890-da7dda00-1fea-11e9-94fc-5face155c349.png)
![captura realizada el 2019-01-24 15 14 00](https://user-images.githubusercontent.com/33765137/51705897-dce03400-1fea-11e9-90f2-ba86dbe18632.png)

[2019-01-24 20:49] alainm23 commented on #23
What do you think?
![image](https://user-images.githubusercontent.com/33765137/51707577-9b05bc80-1fef-11e9-9b48-19989d5888c6.png)

[2019-01-24 20:52] NathanBnm commented on #49
Maybe there's a problem with quotes in the fr.po file, I'm going to check

[2019-01-24 22:26] Hedronmx commented on #23
Looks good!

[2019-01-25 17:26] alainm23 commented on #23
I hope you like it.

![labels](https://user-images.githubusercontent.com/33765137/51761914-508e4980-209c-11e9-98c3-3fbd99fc28ae.png)

[2019-01-25 17:26] #23 closed, assigned to nobody

[2019-01-27 03:40] #26 closed, assigned to nobody

[2019-01-28 15:42] vsg68 commented on #49
In russian
(com.github.alainm23.planner:15733): Gtk-WARNING **: 18:40:24.156: Attempting to add a widget with type GtkImage to a container of type GtkButton, but the widget is already inside a container of type GtkButton, please remove the widget from its existing container first.

(com.github.alainm23.planner:15733): Gtk-WARNING **: 18:40:24.192: Theme parsing error: <data>:20:22: Not using units

[2019-01-28 20:28] NathanBnm commented on #49
@alainm23 I have checked `fr.po` and `appdata.xml` and nothing seems to be broken. Screenshots are now available but strings 1 to 5 aren't displaying.

[2019-01-29 17:11] alainm23 commented on #49
I hope that in this new update it will be fixed

[2019-01-29 17:27] NathanBnm commented on #49
I hope so 👍

[2019-01-29 18:33] Hedronmx commented on #41
I guess you could use Todoist as a syncing platform... ?

[2019-01-29 20:40] alainm23 commented on #34
## Starting to work on this feature
![markdown](https://user-images.githubusercontent.com/33765137/51938852-1e525400-23dc-11e9-8205-596c81206fa0.png)
![markdown 2](https://user-images.githubusercontent.com/33765137/51938856-214d4480-23dc-11e9-82d7-5516d7c65f4a.png)

[2019-01-29 21:52] alainm23 commented on #34
I feel that the user experience is not the best, it's a good idea to show the markdown view in a Dialog?

[2019-01-30 14:11] alainm23 commented on #49
@NathanBnm Please, let me know if in this update to solve the problem.

[2019-01-30 20:58] NathanBnm commented on #49
@alainm23 I will

[2019-01-31 05:37] harisvsulaiman commented on #34
@alainm23 i feel that its best not to write any content in a dialog.
I Haven't looked at the code but i assume you are rendering markdown in a webview.

[2019-01-31 07:44] NathanBnm commented on #49
@alainm23 it's fixed

[2019-01-31 10:54] #49 closed, assigned to nobody

[2019-01-31 14:13] alainm23 commented on #49
@NathanBnm Great!!!

[2019-02-02 03:47] #34 closed, assigned to nobody

[2019-02-02 13:00] alainm23 commented on #34
Yes, I am using a WebView with a style basic in Github.

[2019-02-03 14:42] harisvsulaiman opened #51 "Markdown darkmode"
Markdown view should support *dark mode*.

![screenshot from 2019-02-03 20 06 58](https://user-images.githubusercontent.com/29329325/52178056-8f847380-27ef-11e9-844e-ed35d75d0a06.png)

[2019-02-03 14:44] harisvsulaiman opened #52 "Text Area overflows with content"
The text area overflows when there is more text than its width, causing the scrolled window to scroll horizontally.

![screenshot from 2019-02-03 19 55 58](https://user-images.githubusercontent.com/29329325/52178107-53054780-27f0-11e9-8e2f-3be23b3bef0e.png)

[2019-02-05 15:19] #51 closed, assigned to nobody

[2019-02-05 15:19] #52 closed, assigned to nobody

[2019-02-07 06:45] alainm23 commented on #41
I'm starting to do tests with this feature. You can now get an Access Token.

![todoist](https://user-images.githubusercontent.com/33765137/52394856-d8e7f380-2a79-11e9-95be-91f61892d321.png)

I will try to use Todoist as a synchronization platform.

[2019-02-07 06:46] alainm23 commented on #47
@kr428 Some update with this problem, was solved in the last update?

[2019-02-07 06:47] alainm23 commented on #40
I tried to fix this problem, but I still can not find a solution.

[2019-02-07 07:33] kr428 commented on #47
Not completely. But I've been some debugging recently and wonder whether this is my own fault in some way: Starting planner with the default locale and English language

LANG=C com.github.alainm23.planner

apparently works. Seems whatever causes this segfault might be caused by the (German) translation. I didn't manage so far to start it with another locale though. Gonna look at the translation ag

[2019-02-07 12:03] guilmour-asc commented on #40
Ummm...
... maybe there's something on the GTK theme, now that I think 'bout it.
And if it's true, we shall **correct the main elementary theme**, as well... or somebody else, I dunno really.

[2019-02-07 16:16] alainm23 commented on #47
This is very strange, I changed my language to German and try to launch the application, but for some reason can not be started, I was playing with the translation but there is no way to start.

`27688 segmentation fault  ./com.github.alainm23.planner`

[2019-02-08 07:28] kr428 commented on #47
Yes. That's the same thing I see here. I'm not sure something is wrong with the translation file, looking at the translation file using

msgunfmt /usr/share/locale/de/LC_MESSAGES/com.github.alainm23.planner.mo

things *seem* to look ok. Maybe there are some special chars in there that cause things to misbehave? I'll see whether I find some way to start planner in debugging, maybe there's a chance

[2019-02-08 07:58] kr428 commented on #47
For what I found right now, this seems caused by

0x00007ffff0ae7098 in pango_itemize_with_base_dir () from /usr/lib/x86_64-linux-gnu/libpango-1.0.so.0

happening in Application.vala:181 somewhere in the "app.run()" call but I didn't really manage to get into that, so far. :|

[2019-03-01 19:42] brcmesquita opened #54 "Suggestion: Repeat/Recurring Tasks"
Imagine that I need to perform a task weekly, monthly or annually. Instead of creating the same task several times, I could create it only once, and mark it to repeat as I need it (daily, weekly, monthly, yearly etc.).

EDIT:
To better exemplify: I want to create a task in Planner, which helps me to remember that I have to pay bills (electricity, water, gas etc). And when I mark that I have comple

[2019-03-02 17:43] alainm23 commented on #40
The window with borders look good, but I decided to stop using them.

[2019-03-02 18:29] brcmesquita opened #55 "Issues with duplicate tasks"
When you duplicate a task, the planner does not create a second task, it repeats the same task. When you change one of the duplicate tasks, they all change together. When you delete a duplicate task, all are deleted.

[2019-03-02 22:10] alainm23 commented on #55
Thanks for reporting the error, fix this in the next release

[2019-03-05 17:42] ghost opened #56 "Segmentation Fault when startup"
**OS:** elementary OS 5.0 Juno
**System language:** ru_RU.UTF-8
**Planner version:** >1.1.1 _(in 1.1.1 and below everything is OK)_

**gdb's backtrace:**
[code]

**Example of received string:** "7:42 П. П."
**Length of this string:** 12

Changing the maximum length in line 65 from Widgets/TimePicker fixes this issue.

Deleting this line can also be a solution, but both of these methods do not solv

[2019-03-05 18:54] ghost commented on #56
Duplicate of #47?
Please note that it is recommended to attach a backtrace to identify the cause of the segmentation fault.

[2019-03-05 20:16] ghost commented on #47
**Example time in de_DE format:** "11:23 NACHMITTAGS"
**Length of this string:** 17 _> 8_

Without 65th line from Widgets/TimePicker runs successfully with the German language.
[(see my issue)](56)

[2019-03-07 12:25] brcmesquita commented on #55
Thx, guy!

[2019-03-08 08:01] bitsandnumbers opened #59 "Sync with Caldav tasks"
Hi,

Is it possible to add CalDav sync for tasks ? ElementaryOS has a good implementation of CalDav with its Calendar app, but it lacks Tasks support. Adding this feature to Planner would allow to make it the standard companion to the Calendar app. It also mean that you can check how eOS devs have implemented it in the first place by checking the source code...

Thanks

[2019-03-08 16:46] Hedronmx commented on #8
Is there anyway I can move the database to a specified folder?

[2019-03-08 16:47] Hedronmx commented on #54
Please add this!! Is the only thing preventing me using this app.

[2019-03-08 17:03] ghost commented on #8
**Try this**
On the first device:
[code]
On the second and other devices:
[code]

[2019-03-09 21:08] naaando opened #60 "Stop storing data in cache folder"
Nice app man, I noticed that you're storing user data in cache directory, this doesn't seem right because an app like Optimizer can wipe the cache and erase it (which happened to me), I suggest that it should be saved directly on home or inside a directory for the application starting with an . to hide it as described [here](http://www.pathname.com/fhs/pub/fhs-2.3.html#HOMEUSERHOMEDIRECTORIES).

[2019-03-09 21:14] naaando commented on #60
This is a bit obvious but worth noting that you may need to move the content from cache to home.

[2019-03-09 21:19] ghost commented on #60
Or like other apps move to `~/.config/`

[2019-03-09 21:48] naaando commented on #60
You're right, seems that using `~/` to store data was the before freedesktop standard.

But I don't think `~/.config` is the best place either because it is meant for configuration files so it isn't that safe also (backup tools might ignore these, users can delete it, etc.), the most appropriate place seems to be `$XDG_DATA_HOME` that is `~/.local/share/`

[2019-03-09 22:30] ghost opened #61 "Optimization needed"
**Laptop info:**
- i3-5005U
- 4GB RAM

With a large number of tasks, the application starts to slow down terribly.
Editing data in the Planner becomes extremely difficult.
Only one CPU core is used.

In idle with all loaded projects consumes ~13% of CPU.

Analysis of slow loading of projects showed that it takes a lot of time to create new TaskRow (over 1000 lines of code, a large part of which is

[2019-03-10 02:40] alainm23 commented on #60
Thank you very much I will take it into account in a next release

[2019-03-10 07:41] ghost opened #62 "Planner didn't start"
**Bug**
A clear and concise description of what the bug is.

**What was done**
Steps to reproduce the behavior:
1. Download planner from app center
2. Click on open boutton planner
3.  See planner's icon
4.  Planner didn't start

Then I tried to start it by a terminal. Output:
(com.github.alainm23.planner:12323): Gtk-WARNING **: 10:34:10.313: Attempting to add a widget with type GtkImage to a cont

[2019-03-10 08:39] ghost commented on #62
**Please attach a backtrace.**
In the terminal type:
[code]
Type `run`.
\*Segmentation Fault\*
Type `backtrace`.
Attach the output with a new comment to this issue.

**Like this**
\`\`\`
_#0 0x00007ffff42f3bf9 in () at my backtrace_
_..._
\`\`\`

An example of an attached backtrace can be seen in my issue #56.

[2019-03-10 08:48] ghost commented on #62
But I think the problem is the same as mine (especially after viewing your profile).
PR that fixes this issue and some other bugs is under review: #58

**You can try to build a version with my fixes**
[code]

[2019-03-10 10:26] ghost commented on #62
Окей, давай на русском. Вот backtrace:
(gdb) backtrace
#0  0x00007ffff78f4b44 in g_value_peek_pointer () at /usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0
#1  0x00007ffff78ca61a in  () at /usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0
#2  0x00007ffff78cc10d in g_closure_invoke () at /usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0
#3  0x00007ffff78df12e in  () at /usr/lib/x86_64-linux-gnu/libgobject-2.

[2019-03-10 10:31] ghost commented on #62
Вы просили ещё в начале backtrace (это backtrace приложения, скачанного из app center)

[2019-03-10 10:31] ghost commented on #62
Я собрал и установил вашу версию приложения, спасибо, она работает =)

[2019-03-10 10:35] ghost commented on #62
Исходя из этой трассировки могу сделать вывод, что так-то проблема та же, что была и у меня.
Суть: Приложение принимает время стандартного формата elementary OS, пытается вставить в Gtk.Entry, для которого задана максимальная длина в 8 символов. Увы и ах, по не совсем понятно какой причине стандартный формат времени — это "часы:минуты {после полудня / до полудня}". Строка превышает 8 символов, воз

[2019-03-10 10:36] ghost commented on #62
Duplicate of #56

[2019-03-10 10:37] ghost commented on #62
Спасибо за решение проблемы

[2019-03-10 10:37] #62 closed, assigned to nobody

[2019-03-11 13:30] brcmesquita opened #63 "Suggestion: Task window close when lose focus"
I'm using Planner daily, and man, what an excellent tool. Beautiful, simple, but I'm having difficulty with the user experience. I think the task window might close automatically if I clicked on another task to edit it, or click anywhere outside the task window that is currently open. And when this occurs, the task edit is saved. Understood?

Suggestions:
- Close window task when click outside;
-

[2019-03-12 14:17] eliocamp opened #64 "Don't capitalise title"
Right now it seems that Planner autocapitalises project and task titles but it's reasonable to not want that behaviour.

[2019-03-12 16:24] alainm23 commented on #64
I understand, this feature was made by request of my girlfriend, I can add an option in the preferences to play with its functionality. I'll keep it in mind, thanks for the comment.

[2019-03-12 16:38] alainm23 commented on #63
Thanks for the comment, this function is already available in the latest available version in AppCenter.
#### Go to > Menu > Preferences > General > Quick Save
Select the number of clicks, to do it.

![image](https://user-images.githubusercontent.com/33765137/54217801-4e504500-44ba-11e9-874d-4b3ba3774dfc.png)

Now enter the list of tasks and the amount of click that I select in any part of the int

[2019-03-12 16:39] alainm23 commented on #63
I think I will improve the labels to better understand this feature.

[2019-03-12 16:40] #63 closed, assigned to nobody

[2019-03-12 16:41] alainm23 commented on #61
Thanks for the comment, you are right, do not optimize Planner when the user creates many tasks, I will improve it for a next release.

[2019-03-13 13:56] brcmesquita commented on #63
Yeah, man, I tried it, but doesn't works. I'll try again.

[2019-03-14 05:54] roymckenzie opened #65 "GitHub two-factor authentication support"
I just downloaded the application and tried to connect it to GitHub, but I have two-factor authentication turned on. When I receive the SMS from GitHub with the one-time password, there is not a dialog in the Planner app to insert the OTP.

I'd like support for two-factor protected GitHub accounts to authenticate with Planner

I did consider disabling two-factor authentication on my GitHub account

[2019-03-14 15:15] alainm23 commented on #65
Thanks for the comment, maybe using the OAuth can solve this problem, I will investigate more how to solve this

[2019-03-19 14:12] alainm23 commented on #40
I found a way to make it work.

[2019-03-27 15:36] #56 closed, assigned to nobody

[2019-03-28 19:34] Hedronmx commented on #41
Any news on this :D, i cant wait!

[2019-03-28 19:37] alainm23 commented on #41
I will work on this feature in a larger version of Planner, I'm still doing tests. anything will keep you informed

[2019-04-03 01:05] cassidyjames opened #68 "Task checklists look like radio buttons"
**Describe the bug**
The task checklists are rounded, and thus look like check-one-of-many radio buttons instead of check-many-from-many checkboxes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Today
2. Click on "Add a new task"
3. Add a checklist at the bottom
4. See the radio buttons

**Expected behavior**
Checklists are a check-many-of-many situation, so they should have square c

[2019-04-03 15:22] alainm23 commented on #68
Thanks for the comment, I will take it into account in the next release :)

[2019-04-04 11:46] rafaelcn opened #69 "Change the icon of a to do task to a dash instead of a cross"
I'm always confused by the cross icon whenever I open a todo task to see details. The cross icon gives an idea of removing, closing for good and not seeing that task anymore. What should be done is to show an icon of minimize, the minimize icon gives an idea of fading details away.

The following image describes the cross icon that should be replaced.

![image](https://user-images.githubuserconten

[2019-04-04 15:58] eliocamp commented on #55
This is happening to me when I have multiple tasks in the same project even when just adding them normally (no duplication).

[2019-04-04 16:04] alainm23 commented on #55
@eliocamp This bug happens because you will surely create a task with the same name.

[2019-04-04 16:14] eliocamp commented on #55
They had different names but they changed to the same task somehow. But now I opened the app and they are correctly there, like it never happened 🤔️

[2019-04-05 19:35] rafaelcn commented on #55
This bug also affects the `today`'s page. It's kind of strange because if you create two tasks and minimize one the other one gets the same content of the one who has been minimized already.

[2019-04-11 14:28] muriloventuroso opened #70 "Issue editing note"
Duplicating data while editing task

Steps to reproduce the behavior:
1. Create a task with note.
2. Create a second task (there is no option to add note)
3. Click to edit the second task and add note.
4. Both tasks are updated with the same data.

[2019-04-11 14:31] muriloventuroso commented on #70
At first I thought I was updating all the tasks, but this is just visual. After closing the application and opening again I saw that the edited task was duplicated.

[2019-04-23 11:03] igalic commented on #65
Here's what i get when i try to connect my account:

[code]

[2019-04-30 08:09] simon-co commented on #55
If you click create task it copies the previously made task, and overwrites new task.  Minimising tasks overwrites all tasks with the first one created.  If you delete all the tasks which are now all copies of one another it only shows as one task removed but removes all from the interface until you try adding a new task or leaving the page.

[2019-06-08 19:36] przepior opened #71 "Duplicated subtasks in a new task"
When I add a task with subtasks and try to add another task, the second task conteains subtasks from previous task.

[2019-06-19 03:19] ghost commented on #71
I have the same issue.
And when in the task is in a project and there is a task before then all tasks changed.
I could find out that it happens, when you create subtasks and press enter and you will save with an empty subtask.

[2019-06-19 04:33] ghost opened #73 "Sync Server"
Hi,

I really love your app.
What do you think about a small sync server for a private cloud for all the people who are concerned about their privacy?
I thought about a little docker with python who save all data in a small SQLite database and has a small REST API.
I think that could be really easy to setup.

[2019-06-19 13:55] alainm23 commented on #73
Thank you very much for your comment, I am currently working on a new version of Planner with support for Todoist, support for private server would be a very good feature, but at the moment it is not in future plans.

You can try the new version in:
https://github.com/alainm23/planner/tree/planner_v2

[2019-06-20 16:38] #73 closed, assigned to nobody

[2019-07-01 10:58] Julioevm commented on #70
I have the same issue.

[2019-07-01 11:37] Julioevm commented on #61
With just 4 tasks this is idling at 5% cpu, more than chrome on idle. There's some serious optimization needed on this program.

[2019-07-02 22:27] ansoni-san commented on #41
Is this still intended to be worked on?

[2019-07-03 13:49] alainm23 commented on #41
@ansoni-san Of course, for the moment I'm working hard and I'm giving myself little time for Planner, but I already have a good progress:
https://github.com/alainm23/planner/tree/planner_v2

[2019-07-05 15:23] eliocamp opened #74 "Updating issues creates many notifications"
I recently added my github profile and selected some repos to watch for issues. As soon as I clicked "udpate issues" Planner created a barrage of notifications (one per new issue) that I had to remove manually:

![image](https://user-images.githubusercontent.com/8617595/60731995-4875e800-9f1f-11e9-9cfe-7ab23343998d.png)

I would expect either to not create notifications when updating issues (since

[2019-07-05 16:23] alainm23 commented on #74
You're right, I'll see how I solve it

[2019-07-13 02:49] corbin-auriti commented on #59
I would love to see this and possibly help contribute this.

[2019-07-19 13:41] marbetschar commented on #59
Any plans on integrating this? Would love to be able to sync Planner with Nextcloud.

[2019-07-22 14:54] marbetschar opened #75 "Integration with Pantheon Online Accounts"
Usage of Pantheon Backend for Online Accounts would be highly appreciated. This opens the door for easy future integration of different Cloud providers such as Google, Nextcloud, Exchange etc.:

https://github.com/elementary/switchboard-plug-onlineaccounts

[2019-08-10 04:55] btd1337 opened #76 "Remove Pantheon Calendar Dependency"
Is It possible you don't to use pantheon-calendar like dependency for your app to be compatible with others DEs like Gnome? Thanks in advance!

[code]

[2019-08-12 07:37] inkoqnito commented on #70
Hello,
I also have this issue very annoying and confusing. Is there a solution on this bug on its way?

[2019-08-12 15:22] alainm23 commented on #71
Thank you very much for reporting the problem, and I have been busy working at Byte and at the university, I will do my best to correct these errors as soon as possible.

[2019-08-12 15:22] alainm23 commented on #69
Thank you very much for reporting the problem, and I have been busy working at Byte and at the university, I will do my best to correct these errors as soon as possible.

[2019-08-12 15:23] alainm23 commented on #68
Thank you very much for reporting the problem, and I have been busy working at Byte and at the university, I will do my best to correct these errors as soon as possible.

[2019-08-12 15:23] alainm23 commented on #55
Thank you very much for reporting the problem, and I have been busy working at Byte and at the university, I will do my best to correct these errors as soon as possible.

[2019-08-23 11:01] wout opened #77 "Tile left/right does not work"
**Describe the bug**
Tiling the window left or right does not work, only full screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Hit `Cmd` + `Ctrl` + `←`
2. elementary OS shows a dark to bar, but the window is small

**Expected behavior**
I would expect the window to take up the left half of the screen.

**Screenshots**
Normal window:
![image](https://user-images.githubusercontent.com/1

[2019-08-27 02:39] RMcNeely opened #78 "Gitlab support"
**Is your feature request related to a problem? Please describe.**
Support Gitlab in addition to Github.

**Additional context**
Consider support for 2fA as well for Gitlab

[2019-09-05 12:52] coworkingon-es commented on #75
Yes please!!

[2019-09-05 14:23] alainm23 commented on #75
Thank you very much for your comments. Now I am working on a new version of Planner with support for Todoist and local tasks, sorry, I think Planner will not be able to use Pantheon Backend for Online Accounts.

But this functionality is being worked on https://github.com/elementary/tasks To which I am attentive and supporting with some ideas of design and development.

[2019-09-05 14:25] alainm23 commented on #8
@ie900  This is a good solution but it is not the most effective. I am currently working on the support for Todoist #41

[2019-09-05 14:25] #8 closed, assigned to nobody

[2019-09-05 14:26] #59 closed, assigned to nobody

[2019-09-07 23:28] ghost opened #79 "Keyboard Shortcut open and close"
**Is your feature request related to a problem? Please describe.**
Being a task manager, it is nice to be able to just pop it open and close it quick...

**Describe the solution you'd like**
A keyboard shortcut that opens and closes the app.. maybe ctrl + esc

**Describe alternatives you've considered**
I actually manually have set a shortcut to open the app... and have a universal close shortcut.

[2019-09-23 10:13] coworkingon-es commented on #41
Any news on EDT?
Thanks!

[2019-09-23 17:36] alainm23 commented on #41
@coworkingon-es  Thanks for your comments, I am including this feature but the form of the visualization will be in lists.

Project > Headings > Tasks

[2019-09-26 14:44] alainm23 opened #81 "Add drag and drop feature"
- [x] Drag and order to projects
- [ ] Drag and order to work areas
- [x] Drag and drop to move task to projects
- [x] Magic Button
- [x] Drag and order to tasks
- [ ] Drag and order to sections
- [ ] Drag and drop to inbox, today and upcoming

[2019-09-26 14:48] #70 closed, assigned to nobody

[2019-09-26 14:48] #71 closed, assigned to nobody

[2019-09-26 14:48] #77 closed, assigned to nobody

[2019-09-26 14:48] #79 closed, assigned to nobody

[2019-09-26 14:49] #20 closed, assigned to nobody

[2019-09-26 14:49] #40 closed, assigned to nobody

[2019-09-26 14:49] #47 closed, assigned to nobody

[2019-09-26 14:49] #55 closed, assigned to nobody

[2019-09-26 14:49] #60 closed, assigned to nobody

[2019-09-26 14:49] #64 closed, assigned to nobody

[2019-09-26 14:49] #69 closed, assigned to nobody

[2019-09-26 14:53] alainm23 commented on #41
- [x] Sync tasks
- [x] Sync projects
- [ ] Sync labels
- [x] Create projects
- [x] Update projects
- [x] Delete projects
- [x] Add Tasks
- [x] Update tasks
- [x] Delete tasks
- [ ] Move tasks
- [ ] Order tasks
- [x] CRUD Sections

[2019-09-26 14:54] #68 closed, assigned to nobody

[2019-10-11 14:19] gibranlp opened #83 "Save Folder"
Is it possibe to chage the default folder where the database is saved, with a an app like Dconf?

I think that would be great, it would help everyone to sync their database trough the internet.

[2019-10-11 14:34] alainm23 commented on #83
Thanks for your comments, this feature is currently not possible and trying to synchronize in this way is not the best way.

for the synchronization of tasks and projects, I have added support for Todoist #41

[2019-10-11 14:34] #83 closed, assigned to nobody

[2019-10-17 05:32] #76 closed, assigned to nobody

[2019-10-18 23:26] Hedronmx opened #86 "Cant run latest master"
After compiling from master I cant run the app

ERROR:/home/carlos/planner/src/Services/Database.vala:719:services_database_get_all_projects_no_area: assertion failed: (res == Sqlite.OK)
Aborted

[2019-10-19 02:09] alainm23 commented on #86
Try to delete the database file /home/alain/.local/share/com.github.alainm23.planner

[2019-10-19 02:38] Hedronmx commented on #86
Got it working! Thank you

[2019-10-19 02:38] #86 closed, assigned to nobody

[2019-10-19 21:35] alainm23 commented on #86
Dear Sir. Now Planner is a software in beta and by the moment it is changed everytime.

[2019-10-31 05:40] saugatkhadka opened #87 "Closing task preview overwrites all tasks"
**Describe the bug**
A clear and concise description of what the bug is.

Closing the task preview/edit on a new project tasks updates all the other tasks in that project. Editing the project after closing the task preview/edit also results in overwrite of all the task in that project. And deleting one task after this bug, deletes all the tasks in that project

**To Reproduce**
Steps to reproduce

[2019-10-31 05:53] alainm23 commented on #87
Thank you very much for your comments. I am currently working on a new version of Planner and the version you are using is already archived 😅️.

If you want to try this new version you can compile the project
https://github.com/alainm23/planner

![image](https://user-images.githubusercontent.com/33765137/67922374-98388900-fb78-11e9-829d-328b18227ea4.png)

[2019-10-31 05:53] #87 closed, assigned to nobody

[2019-10-31 05:58] alainm23 commented on #41
Has anyone already started trying this new feature?
In my case it works well, but I would like to know if in all cases it is the same.

[2019-10-31 07:49] Hedronmx commented on #41
I did try it out! It works, tho its missing the today and week view. Also recurrent tasks are not shown.

Is there a way to reset the app, so i can re login and start from scratch?

[2019-10-31 10:48] alainm23 commented on #41
Yes, delete the db file:
`/home/user/.local/share/com.github.alainm23.planner`

[2019-11-01 01:43] Hedronmx commented on #41
Well its working really good, just some missing features that's all

[2019-11-02 17:19] balance-wtf commented on #41
Hey, I might be dumb, but how do I access this?

[2019-11-02 19:46] Hedronmx commented on #41
Compile this repo and give Version 2 a try

[2019-11-04 00:47] corbin-auriti commented on #59
Why was this closed?

[2019-11-04 01:30] alainm23 commented on #59
Thank you very much for your comments. Now I am working on a new version of Planner with support for Todoist and local tasks, sorry, I think Planner will not be able to use Caldav tasks.

But this functionality is being worked on https://github.com/elementary/tasks

[2019-11-04 04:10] Hedronmx opened #88 "Add Support for Attachments"
I would love the ability to upload files! Todoist has the option, but im not sure if its supported on the api.

[2019-11-04 04:15] Hedronmx opened #89 "When creating a task, have an option to add more."
When I create a new task it would be useful to have an option to continue adding tasks, instead of pressing the add task button multiple times

[2019-11-04 05:47] alainm23 commented on #88
Yes, the upload of files is compatible with the [Todoist API](https://developer.todoist.com/sync/v8/?shell#upload-a-file) but the feature for the moment is not a priority but it is in my plans.

[2019-11-04 05:48] Hedronmx commented on #88
Awesome! Glad to hear.

[2019-11-04 05:48] alainm23 commented on #89
Thanks for the suggestion, We can add as an activatable option in the preferences.

[2019-11-04 05:49] Hedronmx commented on #89
Sweet thank you!!

[2019-11-04 06:03] alainm23 commented on #89
Although thinking it well we could implement this feature in another way, for example by pressing the enter key to create task + (some key to be defined)

What key could it be, maybe Ctrl or Shift?

[2019-11-04 15:04] Hedronmx commented on #89
I would prefer shift, since shift+enter is used for entering a new line

[2019-11-05 11:12] brejoc opened #90 "Editing one tasks in a project edits all of them"
**Describe the bug**

If you edit one tasks in a project, then all tasks are edited. This applies to labels, title, status or notes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project
2. Add some tasks to the project
3. Edit one tasks and see all of them get changed.

**Expected behavior**
Changes should only apply to one task.

**Desktop (please complete the following informat

[2019-11-06 16:37] Hedronmx opened #91 "Today and Upcoming are not working V2"
**Describe the bug**
Today and Upcoming view are not showing anything

**To Reproduce**
open the app

**Expected behavior**
Show the taks that match the date of Today.
Show the tasks that are upcoming in the week

**Screenshots**
![Screenshot from 2019-11-06 08 36 51](https://user-images.githubusercontent.com/26935602/68317802-9b4be180-0070-11ea-9a1a-0cd58597ab7c.png)
![Screenshot from 2019-11-06

[2019-11-06 16:40] Hedronmx opened #92 "No indication of recurrent taks or way to create them"
**Is your feature request related to a problem? Please describe.**
There is no way to create a recurrent task and if using Todoist, previously created recurrent task have no indication that they loop.

**Describe the solution you'd like**
Add a small loop icon next to the date or the task name.
Ability to set re-currency.

**Describe alternatives you've considered**
Create the task over and over a

[2019-11-06 16:53] alainm23 commented on #91
Hehehe, I still want to finish the Project Page and then I will work on this.

By the way, What do you think about the new project progress widget? Do you speak Spanish too?

[2019-11-06 16:56] alainm23 commented on #90
Thank you very much for your comments. I am currently working on a new version of Planner and the version you are using is already archived 😅️.

If you want to try this new version you can compile the project
https://github.com/alainm23/planner

![Screenshot from 2019-11-06 08 36 47](https://user-images.githubusercontent.com/26935602/68317807-9c7d0e80-0070-11ea-9abd-6ff276befff9.png)

[2019-11-06 17:12] #90 closed, assigned to nobody

[2019-11-06 17:42] Hedronmx commented on #91
Looks pretty good!! I am loving planner v2!

Btw, will it take too long for this to be implemented? Thats the only thing keeping me from using planner full time.

[2019-11-06 18:03] alainm23 commented on #91
I can't give you a date, but I will try to work on this.

[2019-11-06 18:18] Hedronmx commented on #91
You are awesome!! Thank you for your time! And don't rush it.

[2019-11-06 20:29] brejoc commented on #90
@alainm23 Are you sure you linked the right repo? When compiling this I get seemingly the same version with the same bug.

[2019-11-06 20:42] alainm23 commented on #90
This is rare, I am currently only working on a branch: https://github.com/alainm23/planner/tree/master

[2019-11-07 04:48] alainm23 commented on #91
- [x] Today
- [ ] Upcoming

[2019-11-07 14:48] brejoc commented on #90
I was tricked by an old process still running in the background. Executing the binary would then just bring the old app back. :laughing:
So it's working now. Pretty nice! I really love that it's a Todoist client now!

[2019-11-07 21:18] Hedronmx commented on #91
Testing today view at the moment. Looks good!! Thank you so much

[2019-11-07 21:24] alainm23 commented on #91
Yes, but I feel that Today is very empty and lifeless, any idea to improve it? I plan to add calendar events.

[2019-11-07 21:25] Hedronmx opened #94 "Show project name like a label."
**Is your feature request related to a problem? Please describe.**
It would be nice to have the project name as a label, that way no matter in which view you are, you know to which project the task belongs to.

**Describe the solution you'd like**
To automatically create a label or show the name of the project the task belongs.

**Describe alternatives you've considered**
Manually create a label w

[2019-11-07 21:30] Hedronmx commented on #91
Maybe you can create sections with the name of the projects. Like this mockup
Also this would fix #94

![planner](https://user-images.githubusercontent.com/26935602/68429300-a848fd80-0162-11ea-8bf9-c72c8a448a86.png)

[2019-11-07 21:31] alainm23 commented on #91
It's a very good idea, this will take me more time but I like it.

[2019-11-07 21:32] Hedronmx commented on #91
No worries, take your time.
Looking at the mockup, on the right side there could be a sidebar with the calendar events.

[2019-11-07 21:34] Hedronmx commented on #91
Btw you can just use the sections you have designed in the project view. Just change the label to the project name. That would look good too

[2019-11-08 04:34] alainm23 commented on #91
### Today Works!!!

![image](https://user-images.githubusercontent.com/33765137/68449811-a9a41580-01b6-11ea-8cbf-8fe8fa4cff17.png)

I want you to give me your opinion. What do I have to do if we are in Today's view and I change or delete the date for a task?

What I do is wait a few seconds and delete the task automatically.

[2019-11-08 08:01] Hedronmx commented on #91
That works! Also, for the upcoming view, the sections should be like in todoist which show the next 5 days. So the sections would be, Tomorrow, then for example, saturday, sunday, etc...

That way when you change the task day it can move to the appropriate section or disappears if its outside the 5 day window.

~~Another thing, the today view should also have the overdue tasks in their own section

[2019-11-08 08:09] Hedronmx opened #95 "Dates marked inside the app don't update on todoist V2"
**Describe the bug**
When creating a task and setting a date, the date is not synced to todoist.

**To Reproduce**
create a task and set a date, then open todoist client and check that the date is missing

**Expected behavior**
To sync all dates

**Screenshots**
![Screenshot from 2019-11-08 00 08 33](https://user-images.githubusercontent.com/26935602/68460140-ee7e7b00-01bb-11ea-92bd-e309d6946aa9.p

[2019-11-08 11:38] alainm23 commented on #91
Great, today I will start working on Upcoming view.

[2019-11-08 16:50] alainm23 commented on #95
This error has already been fixed.

[2019-11-08 16:51] #95 closed, assigned to nobody

[2019-11-08 16:52] #94 closed, assigned to nobody

[2019-11-08 16:53] alainm23 opened #96 "Get due dates from Todoist when the first synchronization is done"

[2019-11-08 16:56] alainm23 commented on #10
As I am rebuilding Planner 2 with a super new UI we could release a new icon too.

![image](https://user-images.githubusercontent.com/33765137/68495885-17842780-021f-11ea-8238-9fa34359fcff.png)
I am attaching an image to see how Planner 2 is looking

[2019-11-08 17:32] alainm23 commented on #92
Duplicate #54

[2019-11-08 17:32] #92 closed, assigned to nobody

[2019-11-09 03:01] alainm23 commented on #91
This is my idea for the Upcoming view, we can get the dates dynamically when the user collides with the end of the Scrolled. Ideas?

![planner-upcoming](https://user-images.githubusercontent.com/33765137/68521858-45935700-0273-11ea-9c05-7e1e534686f6.gif)

[2019-11-09 05:52] #91 closed, assigned to nobody

[2019-11-09 05:55] alainm23 commented on #91
I decided to use a button to get more tasks.

![today-upcoming](https://user-images.githubusercontent.com/33765137/68523752-7c756700-028b-11ea-85ad-bd5ad568e60e.png)

[2019-11-09 07:00] Hedronmx commented on #91
Se ve increíble! Gracias!!!

[2019-11-11 04:56] alainm23 commented on #89
Try it pls

[2019-11-11 05:07] 4jNsY6fCVqZv opened #97 "Planner's self-conception & Add a plugin system to handle integrations"
**Is your feature request related to a problem? Please describe.**

On his project page Planner writes about himself "Todoist Client designed for elementary OS". My request would be that Planner does not define itself through a commercial and proprietary external service, but promotes itself as a Free Software solution for project/task management, offering interfaces for external services where th

[2019-11-11 05:08] Hedronmx commented on #89
I cant when i try to build i get
`meson.build:26:0: ERROR:  Dependency "libecal-1.2" not found, tried pkgconfig and cmake`

Trying to install gets me
[code]

[2019-11-11 05:30] alainm23 commented on #89
You should install:

* libecal1.2-dev
* libedataserver1.2-dev
* libical-dev

[2019-11-11 05:52] Hedronmx commented on #89
How do you add more? I tried enter, shift enter...

[2019-11-11 06:03] alainm23 commented on #89
with left shift?

[2019-11-11 06:05] Hedronmx commented on #89
I tried both shifts actually

[2019-11-11 06:06] Hedronmx commented on #94
Could you add a small square or maybe change the color of the font  to the color projects color?

[2019-11-11 06:14] alainm23 commented on #89
What I do is: After writing the title of my task I have pressed the Shift key and then press the return key.

![planner shift](https://user-images.githubusercontent.com/33765137/68564977-238b0780-0420-11ea-84a5-0251b741f48e.gif)

[2019-11-11 06:19] alainm23 commented on #94
In the last compilation I added the name of the project to the tasks in Upcoming. Do you mean this?

![image](https://user-images.githubusercontent.com/33765137/68565351-37833900-0421-11ea-8417-8e290619fe8e.png)

[2019-11-11 06:20] Hedronmx commented on #94
Yes! could you add a small colored square or similar to how you display tags. That way each project name pops more.

[2019-11-11 06:25] alainm23 commented on #94
Sure but tomorrow, now I have to sleep 😅️

[2019-11-11 06:26] Hedronmx commented on #94
No problem man! You are doing amazing work, Ill sure donate some more cash later this week!

[2019-11-11 06:27] Hedronmx commented on #89
I am doing just that.... shift + enter

is there a way to check the version of the app?

Nevermind.... I found out why! It just works inside the inbox view.

[2019-11-11 06:31] alainm23 commented on #89
I just found the bug, I'll fix it for tomorrow.

[2019-11-11 06:40] Hedronmx commented on #89
Awesome thanks!

[2019-11-12 03:05] #96 closed, assigned to nobody

[2019-11-12 03:05] alainm23 commented on #89
Try it one more time pls.

[2019-11-12 05:01] Hedronmx commented on #89
Working perfectly!

[2019-11-12 05:05] Hedronmx opened #98 "Add a plus next to the option button on the sections to quickly add a task"
**Describe the solution you'd like**
Add a plus icon next to the 3 vertical dots icon in a section, so you can quickly add a task

**Describe alternatives you've considered**
Clicking the 3 vertical dots icon and the pressing the add task button

[2019-11-13 04:50] alainm23 commented on #98
This feature is already in the current version, you can open the menu and create a quick task. You can double click on the section and open the menu too.

[2019-11-13 04:52] #89 closed, assigned to nobody

[2019-11-13 04:52] #81 closed, assigned to nobody

[2019-11-13 04:54] alainm23 commented on #61
@ie900 You can try Planner 2 to do the same test please. I think that with this new version performance was greatly improved.

[2019-11-13 04:55] #41 closed, assigned to nobody

[2019-11-13 15:51] Hedronmx commented on #98
I know... what I am saying is to add a plus icon outside of the menu, right next to the menu icon. That way you can add task faster!

[2019-11-13 20:25] ghost commented on #61
I don't have the _same_ test anymore, but I'll do a _similar_ one and report the results.

[2019-11-15 04:34] ghost commented on #61
| Tasks |   CPU   |
| ----- | ------- |
|  000  | ~00%    |
|  100  | ~03-05% |
|  200  | ~09-10% |
|  300  | ~11-12% |
|  400  | ~13-14% |
|  500  | ~15-16% |

But it no longer suffers from usability issues. Good job.

And also I found bugs:

- When you create a task, it can include all existing tasks (including itself) in its checklist.
- When you add a task to a section, this task can also be i

[2019-11-15 06:09] Hedronmx opened #99 "There are still syncing issues with Todoist"
**Describe the bug**
Some tasks are not updated when completed, some other tasks are not being synced when created. Syncing is hit or miss

**To Reproduce**
Use multiple clients to check the syncing

**Expected behavior**
To all clients having the same tasks.

**Screenshots**
![Screenshot from 2019-11-14 22 07 43](https://user-images.githubusercontent.com/26935602/68920802-4c1a4680-072b-11ea-8cc8-

[2019-11-15 06:10] Hedronmx opened #100 "Add description as comment to Todoist"
**Describe the solution you'd like**
To keep everything synced, the description of the task should be synced to todoist as a comment

**Describe alternatives you've considered**
There is no alternative at the moment. Descriptions are not synced.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-11-15 15:37] alainm23 commented on #100
I was also thinking about this, but I still don't have a clear idea of ​​how to do it.

[2019-11-15 15:41] Hedronmx commented on #100
How to do it with the api? or how to do it UI wise?

[2019-11-15 15:42] Hedronmx commented on #99
You could add a sync now button on the settings window. Maybe this could help?

How are you syncing right now? Since it seems some tasks are synced and some are not

[2019-11-15 17:30] alainm23 commented on #100
How to do it in the design.

[2019-11-15 17:44] Hedronmx commented on #100
There is no need to design anything, since it should sync to todoist anyways.
You can pull the first comment as the description of every task. And every task should sync the description to the first comment

[2019-11-15 17:51] alainm23 commented on #100
Of course, that's easy but what happens if the user adds more comments?

[2019-11-15 17:54] Hedronmx commented on #100
You can have a icon next to the sub task icon, that shows all the comments in a seperate window. Like in the tags.

Ill do a mock up later today to see if that helps.

[2019-11-15 17:56] alainm23 commented on #100
I was also thinking about that solution. Also keep in mind that comments are only available to pro account users in Todoist.

[2019-11-15 17:57] Hedronmx commented on #100
Oh snap you are right... hmmm is there any other way you can sync just the description of the tasks?

[2019-11-15 17:58] alainm23 commented on #100
At the moment, I dont have idea.

[2019-11-15 18:03] Hedronmx commented on #100
Looking at the pricing, file upload is also just for pro users... :(

Let me think of something... maybe i can come up with something useful

[2019-11-18 22:08] BDPeterV opened #101 "Planner build"
Hi, actually a question rather than a request. Planner is built in /user/share instead of in /usr/share. Is it meant to be like that?

[2019-11-18 23:20] BDPeterV commented on #101
My bad. Typo during fast typing while building.

[2019-11-18 23:20] #101 closed, assigned to nobody

[2019-11-25 23:40] gibranlp opened #102 "V2"
Hi, is there a way to download the V2 of planner?

[2019-11-26 03:11] alainm23 commented on #102
Hello, at the moment the only way to run Planner 2 is to compile the project.
[code]

[2019-11-26 03:11] #102 closed, assigned to nobody

[2019-11-28 14:41] #29 closed, assigned to nobody

[2019-11-28 14:42] alainm23 commented on #29
You can try it now.

[2019-11-28 14:48] WebShapedBiz commented on #29
Awesome @alainm23, thank you for your effort. I'll try when my `apt update` pick it up.

Cheers.

[2019-11-28 15:01] alainm23 commented on #29
@WebShapedBiz Sorry for not being more explicit, I am now working on a new version of Planner (v2) This version is not available in AppCenter yet. However, you can test installing it from this repository 😁️.

![image](https://user-images.githubusercontent.com/33765137/69815921-5cb7cb80-11c5-11ea-9da8-798d3f6db860.png)

[2019-11-28 16:54] WebShapedBiz commented on #29
Ah OK, thanks for this clarification.

[2019-12-01 10:02] Appeltabak opened #104 "Add sync for Todoist labels"
**Is your feature request related to a problem? Please describe.**
I saw that Planner that planner supports adding labels to items, but it doesn't sync them when using Todoist. I'm aware that this is a premium feature of Todoist.

**Describe the solution you'd like**
Full synchronisation of labels when someone has Todoist Premium.

**Describe alternatives you've considered**
Standard labels, but t

[2019-12-04 17:37] Hedronmx commented on #99
Any updates on this? Thanks!

[2019-12-04 17:44] alainm23 commented on #99
Yes, te responderé en español ya que así podre ser mas claro con mis ideas.
- La sincronización en Planner por el momento solo es al inicio de ingresar tus credenciales de Todoist y cada vez que actualizas algo (Proyecto, tareas).
Esto es bueno siempre y cuando solo uses tu cuenta de Todoist desde Planner pero si usas Todoist desde otra plataforma (Android, Web) la sincronización no se vera reflej

[2019-12-04 17:46] Hedronmx commented on #99
Creo que una solución más sencilla sería agregar un botón de sincronizar, porque incluso al usar las aplicaciones oficiales de todoist se llegan ha desincrozinar, pero con el botón se sincroniza todo de nuevo.

Las pruebas que hice fueron con dos ordenadores usando elementary, cada una con planner instalado.

[2019-12-04 17:50] alainm23 commented on #99
Vale, si también tenia en cuenta lo de agregar un botón de sincronización al costado de buscar y las preferencias y una animación girando cada vez que la sincronización este en proceso. Por cierto las búsquedas rápidas ya están disponibles en la ultima versión del repositorio, las puede probar ya. Aun hay algunas cosas que mejorar pero para un primer lanzamiento creo que esta bien.

[2019-12-04 17:52] Hedronmx commented on #99
Excelente! Esta muy chula la aplicación! Este es el único problema antes de usar planner al 100%.

Probaré la nueva versión. Muchas gracias!

[2019-12-04 17:54] alainm23 commented on #99
Por cierto si quiere abrir las búsquedas rápida le puede dar click al botón o usando el teclado Ctrl + F

[2019-12-04 17:56] Hedronmx commented on #99
Vale! Espero con ansias la próxima actualización!

[2019-12-04 17:57] Alecaddd commented on #10
Let's start some brainstorming on this new icon.
I created a buck on dribbble for inspiration: https://dribbble.com/alecaddd/buckets/1711647-Planner

I personally think this concept might be the right one: https://dribbble.com/shots/3704554-Studyguide-Student-planner
Obviously, updated to reflect the elementary OS style guide and to not create a copycat of this design.

[2019-12-04 18:09] alainm23 commented on #10
I like the concept of the backpack with a calendar and an agenda, personally I think this is also the right way.

[2019-12-04 18:10] Alecaddd commented on #10
All right, I'll see if I can create something this weekend

[2019-12-05 09:46] 4jNsY6fCVqZv commented on #13
While Flathub is certainly a good choice for the distribution of the app, I would like to point out that it is not an alternative for FLOSS users because Flathub does not offer a separate FLOSS platform. It contains proprietary services & apps. Maybe there will be an elementary OS Flatpak platform in the future. see https://github.com/orgs/elementary/projects/64
Then it would be wonderful if Plann

[2019-12-05 10:01] 4jNsY6fCVqZv opened #105 "Add support for Encryption/Password Protection"
**Is your feature request related to a problem? Please describe.**
Sometimes a very protected environment is needed for smaller or larger projects. A database that lies unprotected on a hard disk is not so nice. Many people don't have full hard disk encryption either.

**Describe the solution you'd like**
The ability to protect my Planner database or individual projects using GPG, e.g. by supporti

[2019-12-05 10:33] 4jNsY6fCVqZv opened #106 "Support of project planning in Kanban style"
Question for discussion: Do you think it makes sense to think project management with Planner 2 differently and to therefore extend it?
So in the sense of https://github.com/nextcloud/deck?

[2019-12-05 14:47] alainm23 commented on #105
Maybe a solution could be to use a master key before entering Planner?

[2019-12-05 14:50] alainm23 commented on #106
Planner could be a project planning with the help of Todoist. However, this was created as a personal task management tool, similar to projects like Things.

[2019-12-05 16:20] 4jNsY6fCVqZv commented on #105
Thank you for your feedback and for the openness towards my idea!

That would be an idea! Are you familiar with the password manager KeePassXC?
It also has a Welcome Screen, which would be good in the sense of elementary HIG.
Reference https://elementary.io/docs/human-interface-guidelines section "Welcome Screen".

You can see the KeePassXC example in the first screenshot https://keepassxc.org/scr

[2019-12-05 16:33] 4jNsY6fCVqZv commented on #106
Things?

Do you think Kanban view is not so good for personal project planning? Or is it rather a question of which organizational method I prefer as a user?

As far as I know Todoist does not have a Kanban view and unfortunately is not FLOSS compatible.

I would rather see a potential Kanban view as an alternative way of displaying projects in Planner. For example, I have a project and can alread

[2019-12-05 21:34] alainm23 commented on #106
I think I know what you mean, I saw this same behavior in other project managers. Of course this feature can be added but for the first release not yet.

[2019-12-06 09:58] 4jNsY6fCVqZv commented on #106
Which project managers are you thinking of?

Very nice!

Related to the part on team collaboration using Planner: Should I open a separate issue for it? Or was your last statement about team collaboration?

[2019-12-10 09:52] 4jNsY6fCVqZv opened #109 "Should Planner 2 use or offer the standard color palette of elementary OS?"
Reference https://elementary.io/de/brand
The variety of this colour palette is unfortunately very limited.
What is the planning status/actual status of Planner 2 in this context?

[2019-12-10 17:28] Hedronmx commented on #109
I also love color, would love to see more of it

[2019-12-12 14:16] alainm23 commented on #109
I think the same but I did this for [Todoist support](https://developer.todoist.com/sync/v8/#colors) Maybe what we can do is change the colors and adapt them to the official elementary palette.

[2019-12-12 15:17] alainm23 commented on #109
This looks like this with the official elementary palette

![image](https://user-images.githubusercontent.com/33765137/70724364-77f80000-1cc8-11ea-9a43-a050995ae270.png)

[2019-12-12 15:43] 4jNsY6fCVqZv commented on #109
- How did you come to this collection?
Todoist has according to your link 20 colors, the color spectrum of the elementary palette completely 60 or 10 colors. In your screenshot I see only 20 colors for both.
- Are the colors currently hard-coded? Would it be possible to display them in a correct color gradient if you want to pursue the idea that all colors are presented in a common selection?
- Ho

[2019-12-12 15:45] 4jNsY6fCVqZv commented on #97
@alainm23 How do you feel about this idea? By the way, thank you for working on Planner!

[2019-12-13 12:53] alainm23 commented on #109
- I tried to find similar colors in the elementary palette.

- Correct, the colors are drawn with CSS inside a Gtk.Grid, I only use a background but if possible use a grandiant. You can send a PR with these improvements to see how it looks.

- I like idea, but do you think this is necessary? Planner currently only uses the color for the progress widget and tags.

[2019-12-14 02:00] goldcoders opened #110 "Cannot Install dependencies libecal1.2-dev"
Hi I just need this last dependency so i can compile the code but im having trouble

[code]

im running  Ubuntu 19.04 ,what do i need to do to use the older version
thanks

[2019-12-14 10:15] 4jNsY6fCVqZv commented on #109
I'd love to, but my programming skills aren't ready yet.

What exactly do you like about my idea?

I'm sure it's not absolutely necessary. There are always other ways to solve something.
When I think of my idea of developing Planner step by step towards an optional integration of different services, it might at least fit well. https://github.com/alainm23/planner/issues/97

Then users who have acti

[2019-12-14 10:24] 4jNsY6fCVqZv commented on #110
Should already be there. If you use the default package sources. libecal2.0-dev is only available starting with Ubuntu 19.10.
https://packages.ubuntu.com/search?suite=disco&searchon=names&keywords=libecal

@alainm23  In this context perhaps also relevant for Planner? https://github.com/elementary/calendar/issues/404

[2019-12-14 12:31] alainm23 commented on #110
@goldcoders  Sorry libecal 1.2-dev is not available in ubuntu 19.04 and I developed Planner in elementary OS Hera (ubuntu 18.04) . I could not tell you how to run it.

@4jNsY6fCVqZv I'll keep that in mind, thank you very much.

[2019-12-14 12:36] alainm23 commented on #99
Acabo de actualizar esta caracteristica, Dele click al boton de sincronizar y sus proyectos y secciones se actualizaran, por el momento las tareas solo se sincronizan al crear una tarea, cambiar el nombre y moverlos de seccion a seccion (Esta ultima es la mas complicada asi que intentare terminarlo este fin de semana).

Por cierto por el momento la sincronizacion solo es manual (dandole click al b

[2019-12-14 12:42] 4jNsY6fCVqZv commented on #110
@alainm23 Why should libecal 1.2-dev not be available in Ubuntu 19.04?
https://packages.ubuntu.com/search?suite=all&searchon=names&keywords=libecal
Up to and including 19.04 the package should be available.
@goldcoders Are you sure you are not already using Ubuntu 19.10? Because there libecal1.2-dev is actually no longer available.

[2019-12-14 13:08] alainm23 commented on #110
I could not tell you why, now I do not have ubuntu 19.04 to try it.

[2019-12-14 13:14] 4jNsY6fCVqZv commented on #110
Neither do I. My hint was simply the one that you can port to libecal-2.0 in the future if this makes sense ;-)

[2019-12-14 15:03] 4jNsY6fCVqZv opened #111 "Fix Travis Build again"
https://travis-ci.com/alainm23/planner/builds/141052542

# Incorrect values in Debian control file
AppCenter checked your Debian control files and found some errors
- Source should be "com.github.alainm23.planner"
- Package should be "com.github.alainm23.planner"

**Suggestion:** Change the Debian control file in lines 1 & 15 to com.github.alainm23.planner
https://github.com/alainm23/planner/blob/

[2019-12-16 05:06] Hedronmx commented on #99
Parece que no se sincronizan las tareas...
Agrego un vídeo como ejemplo
https://gfycat.com/uncommonpolisheddouglasfirbarkbeetle

[code]

[2019-12-16 21:36] alainm23 commented on #99
@Hedronmx  en el codigo que me envio se ve que no hay ninguna tarea creada que Planner pueda procesar. A probado con volver a correr Planner borrando la base de datos e iniciando nuevamente con Todoist?

[2019-12-17 21:54] Hedronmx commented on #99
Ya la borré, parece ser que había un error. Ahora funciona perfecto!

[2019-12-19 18:13] #111 closed, assigned to nobody

[2019-12-19 20:17] alainm23 commented on #111
Thank you very much, I could solve it.

[2019-12-31 13:28] alainm23 commented on #99
Hola, voy a cerrar este problema ya que es muy general, recordarle que el soporte para Todoist Offline ya trabaja y la sincronizacion tambien.

[2019-12-31 13:28] #99 closed, assigned to nobody

[2019-12-31 13:29] #61 closed, assigned to nobody

[2019-12-31 13:32] alainm23 commented on #110
Hello friends, I will close this problem because Planner will be distributed in elementary OS AppCenter and for users of other distributions through Flathub so this error should not appear.

[2019-12-31 13:32] #110 closed, assigned to nobody

[2019-12-31 15:33] alainm23 commented on #110
@goldcoders Hey friend if you are using ubuntu and want to try Planner, you can build it using flatpak
https://github.com/alainm23/planner/tree/master/build-aux/flatpak

[code]

[2019-12-31 17:01] 01AutoMonkey commented on #110
@alainm23
[code]
On Ubuntu 19.10, the command above gives me:
[code]

[2019-12-31 17:08] alainm23 commented on #110
Yes. you need to install the dependencies to be able to build
`flatpak install flathub org.gnome.Sdk/x86_64/3.34`

Or you can build using Gnome Builder, this downloads everything automatically.

[2019-12-31 17:28] 01AutoMonkey commented on #110
![img0](https://user-images.githubusercontent.com/6819983/71628945-a34c7b80-2bf2-11ea-945e-905ddfab2bd2.jpg)

Up and running!

[code]

[2020-01-01 07:37] Hedronmx commented on #99
Si perfecto, la aplicación va muy bien! Me corre excelente!

[2020-01-04 07:58] ghost opened #112 "Trash folder"
- a place where tasks can be first deleted to
- then brought back if required

- then the "Are you sure you want to delete, pop-up can be remove and only used when emptying trash folder.

Could call it "back-pocket"

[2020-01-04 08:06] ghost opened #113 "Task Completed still shows"
**To Reproduce**
Steps to reproduce the behaviour:
1. Create a task
2. complete the task
3. then untick the completed task and/or delete it
4. Task Completed heading still shows

**Expected behaviour**
Task Completed to be hidden if there is no completed tasks

**Screenshots**
![planner_bug_task_completed](https://user-images.githubusercontent.com/59498682/71762590-bf456b00-2ed9-11ea-9bf8-81666656

[2020-01-04 08:08] ghost commented on #10
I'll see what I can do

[2020-01-04 10:22] #113 closed, assigned to nobody

[2020-01-04 10:26] alainm23 commented on #112
I would like to open a debate here. Is this feature really necessary?

[2020-01-04 11:06] ghost commented on #112
possible not necessary (more a preference) suppose user could create their own "trash"

[2020-01-04 11:06] #112 closed, assigned to nobody

[2020-01-04 11:12] ghost opened #114 "highlighting text while typing elsewhere"
To Reproduce
Steps to reproduce the behaviour
- highlight some text
- select elsewhere and type
- highlight stays

**Screenshots**
![planner_bug_highlightig](https://user-images.githubusercontent.com/59498682/71764673-8619f480-2ef3-11ea-9af4-9a67fb006b72.png)

OS: Elementary
Version OS 5.1 Hera

[2020-01-04 11:34] 4jNsY6fCVqZv commented on #112
Not sure if a separate "Trash" folder makes sense either.

Maybe I need a way to reopen already closed tasks/projects when I realize that the task/project is not completely finished after all?

What I think should be there in any case: An undo functionality for tasks/projects that have just been deleted or maybe accidentally deleted.

More about this in the elmentary HIG https://elementary.io/docs

[2020-01-04 11:38] 4jNsY6fCVqZv commented on #113
@alainm23 What I also notice when I look at the screenshot: The sidebar also shows "2" tasks for the Inbox, while the Inbox view doesn't show any more tasks. Is this an issue that you have fixed as well?

[2020-01-04 11:39] 4jNsY6fCVqZv commented on #112
@alainm23 Should this issue be reopened for discussion?

[2020-01-04 12:07] ghost commented on #112
if you feel like it should re-opened, i don't feel like its MVP at this time. future feature maybe?, maybe a task history that shows completed/deleted items based on dates, that could be turned into quite a nice graph.

[2020-01-04 13:39] ghost opened #115 "can't delete project from options"
can't delete project from below button in screenshot
![planner_bug_cant delete project](https://user-images.githubusercontent.com/59498682/71766326-79070080-2f07-11ea-9773-5dadcf1ace69.png)

can delete from button in below screenshot
![Screenshot from 2020-01-04 15 33 55](https://user-images.githubusercontent.com/59498682/71766338-a5228180-2f07-11ea-9e1d-7c3d1227d704.png)

suggestion

- to remove

[2020-01-04 13:41] ghost opened #116 "Feature request: Search and Filter by labels"
don't think this needs to be elaborated on.

would like to search for notes that have certain tags like "office" or "Home"

[2020-01-04 14:39] alainm23 commented on #116
This is definitely a feature that has to come and believe me I have thought a good UX to implement it.

[2020-01-04 15:31] 4jNsY6fCVqZv opened #117 "What should happen if I want to delete a project that still contains tasks/subtasks?"
One question for me would be whether it is important if the tasks/ subtasks in question are solved or unsolved. If they are unsolved, there might be the possibility to create a new project out of them or move them to other existing projects or decide that everything can be deleted - of course always with an undo option, as mentioned in https://github.com/alainm23/planner/issues/112#issuecomment-57

[2020-01-04 15:59] 4jNsY6fCVqZv commented on #113
I think an empty list would be weird, too. Maybe there can be a generic hint that there are no tasks available at the moment, maybe with the suggestion that I can create some?
Or the app automatically shows the welcome screen again as soon as there are no more tasks and projects?
see https://elementary.io/docs/human-interface-guidelines#welcome-screen
I'm sure there are other solutions. I am curio

[2020-01-04 16:23] ghost opened #118 "previous section title stays"
![image](https://user-images.githubusercontent.com/59498682/71768506-30f3d800-2f1f-11ea-9b96-84fffa7dce67.png)

suggest it goes blank so new section can be typed

[2020-01-04 16:40] alainm23 commented on #113
If I think the same as you, what we could do here is to use a placeholder telling the user that their completed tasks will appear here.

[2020-01-04 16:41] alainm23 commented on #113
I am going to investigate the Inbox problem, thanks for your observation.

[2020-01-05 00:25] Alecaddd commented on #10
What do you think about this?
![planner2](https://user-images.githubusercontent.com/2527103/71773227-9e4b3d00-2f0e-11ea-90ad-9e96bbc25203.png)

Here's the SVG
[planner2.svg.zip](https://github.com/alainm23/planner/files/4022762/planner2.svg.zip)

[2020-01-05 02:20] alainm23 commented on #10
Great, this looks pretty cool. thanks for your time.

![image](https://user-images.githubusercontent.com/33765137/71773995-f5640880-2f34-11ea-8330-084985d4e9cd.png)

I only have some suggestions:
-  We could make the icons inside the backpack look bigger. The icon in Plank looks good but the icons inside it can't be noticed.

[2020-01-05 06:43] Alecaddd commented on #10
That's only the 48px version, I made that because it's the default size for plank icons.
You'd need to create variations and adapt those for the different sizes as you shouldn't use one size for all.
Unfortunately I don't have time to create the variations, sorry.

[2020-01-05 07:45] ghost commented on #10
nicely done, Could I suggest matching the corner radius to that of the terminal, current radius looks more of a moka icon theme? i will play with the file a bit and see what I can do.

[2020-01-05 08:47] #118 closed, assigned to nobody

[2020-01-05 08:49] #115 closed, assigned to nobody

[2020-01-05 09:43] 4jNsY6fCVqZv commented on #10
@bertob Could you imagine supporting the redesign of this icon with your experience?

[2020-01-05 09:48] 4jNsY6fCVqZv commented on #10
For me, the icon would be more appealing if the tools were more showcased and the bag less.

[2020-01-05 09:59] 4jNsY6fCVqZv commented on #113
@alainm23 In addition to the idea of a placeholder:
That would also make sense for the "Today" and "Upcoming" view, right?
At the moment the view looks a bit empty.
For example Today view https://github.com/alainm23/planner/issues/120#issue-545570796
Do you wish me to create a separate issue for this? Otherwise the comments and issues will probably get confusing very quickly, right?

[2020-01-05 12:13] ghost commented on #10
This is what I had in mind, adds bit of uniqueness to the shape

[planner2a.svg.tar.gz](https://github.com/alainm23/planner/files/4023352/planner2a.svg.tar.gz)

![image](https://user-images.githubusercontent.com/59498682/71779996-71a62c80-2fc5-11ea-84b7-44951077eff6.png)

![image](https://user-images.githubusercontent.com/59498682/71780637-c8176900-2fcd-11ea-8e32-bbf82bf5771a.png)

[2020-01-05 13:16] 4jNsY6fCVqZv commented on #10
@inputbim Thank you for your work! How does it look in combination with a badge?
As far as I understood, this was the starting point to rework the design of the current icon.

Does your current design support HDPI resolutions?

Of course it would be exciting to see how the design fits into elementary OS HIG.
https://elementary.io/docs/human-interface-guidelines#iconography

[2020-01-05 13:24] ghost commented on #10
@4jNsY6fCVqZv no problem I've done almost nothing though it was @Alecaddd that did the design. I had more of a backpack idea or a simple square calender with a pencil.

![image](https://user-images.githubusercontent.com/59498682/71780714-ab2f6580-2fce-11ea-9ba9-0d1cffa59add.png)

![image](https://user-images.githubusercontent.com/59498682/71780753-2264f980-2fcf-11ea-92d3-0004bb13f2d9.png)

[2020-01-05 13:30] 4jNsY6fCVqZv commented on #10
@inputbim Would you like to share a realization of your thoughts for the new Planner icon with us as well?

In the current version, the badge in the Applications menu does not look very sharp, is that possible? Or is it because of the screenshot?

With the current design in Plank, I notice that the pen is completely hidden as soon as the badge is there.

[2020-01-05 13:32] alainm23 commented on #10
@inputbim Great job, it definitely looks better.

Personal opinion:
 - I feel that the color blue is very soft, maybe if we play with #0d52bf instead of #3689e6, I would like to see the result.

![image](https://user-images.githubusercontent.com/33765137/71780840-63401c80-2f95-11ea-8e12-6a2ef51aa7ff.png)
- The design in general is a backpack, but I don't feel it was, maybe if we could add the cove

[2020-01-05 14:12] ghost commented on #10
i will do some mock ups, i also like the idea of similar to the "things".

as for colour i think its important to try use the elementary os colours.

@4jNsY6fCVqZv yes the blur part is due to me doing a quick edit, not pixel perfect, don't have the time for that right now.

![image](https://user-images.githubusercontent.com/59498682/71781276-74108280-2fd5-11ea-9694-ddc63f75f355.png)

take a look a

[2020-01-05 14:50] alainm23 commented on #10
I would like to hear the opinion of @Fatih20 The Byte icon designer.

[2020-01-05 14:52] ghost commented on #10
thoughts?

![image](https://user-images.githubusercontent.com/59498682/71781813-a7eea680-2fdb-11ea-8ef6-aac0946f8bd1.png)
![image](https://user-images.githubusercontent.com/59498682/71781827-c81e6580-2fdb-11ea-9e99-04ce14b16fc9.png)

[2020-01-05 15:06] Fatih20 commented on #10
@alainm23 My concern about the backpack one is that the detail wouldn't be recognizable on low monitor PPI. I have tried making icons in the past with small details like that and it's unable to convey the meaning because the reason I stated. Also, it would be a pain to pixel fit it for smaller icon sizes.

-Quoted from the official guidelines.

As for the original problem, why not just flip the ic

[2020-01-05 15:12] alainm23 commented on #10
@Fatih20  I understand, the icon does not flip horizontally because the idea of ​​the original design is a "P" by Planner.

[2020-01-05 15:14] Fatih20 commented on #10
@inputbim  Idea is nice if you get rid of the calendar and the marker. Only need the actual planner book.

[2020-01-05 15:22] alainm23 commented on #10
What do you think of this icon, is an alternative to things 3.

![image](https://user-images.githubusercontent.com/33765137/71782163-195f3280-2fa5-11ea-922c-6afd497619f4.png)
https://www.deviantart.com/jasonzigrino/art/Things-For-OS-X-Yosemite-497758700

[2020-01-05 15:24] Fatih20 commented on #10
Seems good. But doesn't really shows the app capabilities in my opinion.

[2020-01-05 15:25] ghost commented on #10
@Fatih20 I think it looks to similar to other apps, also that badge hides the "tabs" in the notebook when used on the dock

![image](https://user-images.githubusercontent.com/59498682/71782190-1b92b280-2fe0-11ea-8621-943942405bf1.png)

I'm going to do some brainstorming and propose some images, need to look at the app as a holistic entity

[2020-01-05 15:30] Fatih20 commented on #10
I think it's fine that it hides it.

[2020-01-05 15:49] codeitlikemiley opened #119 "libecal not found"
I tried installing planner using YAY package manager of archlinux.
Im using kernel
But it failed missing a dev dependencies
libecal not found.
Hope someone can share a solution on this...

[2020-01-05 15:52] alainm23 commented on #119
I'm sorry but Planner is not officially available on Archlinux. However, you can try Planner using Flarpak: https://planner-todo.web.app/planner-beta-blog

[2020-01-05 15:52] #119 closed, assigned to nobody

[2020-01-05 16:25] ghost commented on #10
happy @alainm23 ?

![image](https://user-images.githubusercontent.com/59498682/71782957-c018f280-2fe8-11ea-9bb5-f9bcdbaf7b22.png)

[2020-01-05 16:39] 4jNsY6fCVqZv commented on #10
I think it would be wonderful if we kept simplicity in mind. Especially when we look at HIG. It would be a pity if the fine details just don't come out and cause uncertainty rather than recognition about the function of the app. Maybe it could also be an umbrella metaphor?

By the way, it would also be great if we could use/combine colors from the elementary color palette.

A simple checklist on a

[2020-01-05 16:42] 4jNsY6fCVqZv commented on #10
@inputbim Your last icon looks quite good, I really like it. And it really has a strong resemblance to other apps, as your screenshot shows. I do not know to what extent an indication is to choose another way of implementation? Maybe we can think a little bit more around the corner, but not too far?

[2020-01-05 16:47] ghost commented on #10
@4jNsY6fCVqZv "Maybe we can think a little bit more around the corner, but not too far?" don't think I follow, yes like i mentioned earlier it looks to much like other icons, i will propose new icons

[2020-01-05 17:18] 4jNsY6fCVqZv commented on #10
@inputbim That was just an impulse. Just like Nimbus. https://appcenter.elementary.io/com.github.danrabbit.nimbus/ A cloud that symbolizes weather and then directly results in a great icon, which can have a high recognition value without many details.

Right now I am also just grateful that so many creative ideas are in the room and people who support the design process. I am looking forward to th

[2020-01-05 18:02] alainm23 commented on #10
Thank you all for your comments and time.  I have been thinking and I think we could use the agenda icon as a base but with some modifications:
- We could use a color palette based on blue, black and white, the same ones that are in the Planner 2 UI.
- We could add a check on the cover of the agenda implying that this is a task app.
- I think we should keep the color labels, this gives a more natu

[2020-01-05 18:05] ghost commented on #10
I think you just described the Agenda app?

![image](https://user-images.githubusercontent.com/59498682/71783954-ab435b80-2ff6-11ea-9dbf-e857de63fd3a.png)

[2020-01-05 19:26] ghost commented on #10
Did a quick study of Elementary icon design guidlines and here is my proposal.

Thoughts?

![image](https://user-images.githubusercontent.com/59498682/71784903-9f10cb80-3001-11ea-8daf-288df1691ee9.png)

![image](https://user-images.githubusercontent.com/59498682/71784911-b485f580-3001-11ea-9ba7-aafc2db9af59.png)

![image](https://user-images.githubusercontent.com/59498682/71784908-ad5ee780-3001-11

[2020-01-06 06:52] ghost opened #120 "cohesive elementary experience"
Should a title-bar not be used for the app, so that a more cohesive feel for elementary (main target) would be achieved?

Having all user actions located in the title.

![image](https://user-images.githubusercontent.com/59498682/71800762-a10a7700-3061-11ea-9019-d891b8d08ebe.png)

[2020-01-06 09:07] ghost opened #121 "completed tasks to stay in there section"
Think the completed tasks should stay under the respected category not new "TASK COMPLETED"

![image](https://user-images.githubusercontent.com/59498682/71807740-a9b87880-3074-11ea-9e20-e70346f20b6a.png)

[2020-01-06 09:11] ghost commented on #109
I think offer the whole spectrum of elementary colour. so have the main colours, then selecting one shows the accents

![image](https://user-images.githubusercontent.com/59498682/71807962-3c591780-3075-11ea-9253-b05a95ddea28.png)

[2020-01-06 09:33] 4jNsY6fCVqZv commented on #121
Does it need an extra section "Task completed" in your perception? When I look at the Agenda app for elementary OS: Doesn't a crossed out task already mean that the task is completed?

Then the tasks could just stay where they are after they have been checked off. Or they could automatically move to the end of the list within the respective category?

On the other hand, a visual separation can be

[2020-01-06 09:34] 4jNsY6fCVqZv commented on #120
Do you have an example from another native elementary app or from the HIG to which you are referring?

[2020-01-06 09:45] ghost commented on #120
Optimizer, Mail, Document Viewer, LookBook, files

![image](https://user-images.githubusercontent.com/59498682/71810000-fc486380-3079-11ea-9b6b-03c877eceb75.png)

[2020-01-06 10:04] 4jNsY6fCVqZv commented on #10
@inputbim I kind of miss the planning part.
So in the spirit of Getting Things GNOME! icon https://wiki.gnome.org/Apps/GTG or https://icons8.com/icon/117510/color-hand-drawn
Otherwise it looks like a copy of the Agenda app icon to me.
Planner should also express "Planner" for me, not just "To-do list".

@alainm23 What do you mean by "I think we should keep the color labels, this gives a more natur

[2020-01-06 14:09] alainm23 commented on #113
@4jNsY6fCVqZv Of course, these are small details that I have not yet developed by focusing more on the main functionality.

[2020-01-06 14:13] alainm23 commented on #120
@inputbim Believe me I tried, but I did not like the final result.
However, the latest apps that elementary is developing tend to use this same design line.
- https://github.com/elementary/tasks
- https://github.com/elementary/granite/pull/315
- https://github.com/elementary/friends/pull/7

[2020-01-06 14:15] #120 closed, assigned to nobody

[2020-01-06 14:24] alainm23 commented on #10
@4jNsY6fCVqZv  I was referring to this little detail:
![image](https://user-images.githubusercontent.com/33765137/71823497-5d197100-3065-11ea-9513-365b02669bf3.png)

Regarding the future of Planner, I see it as a personal application of tasks. However, thanks to Todoist (and in a future update) we can use Planner to work with a team, assign tasks and communication (Premium Todoist User).

But in t

[2020-01-06 14:38] alainm23 commented on #121
I did Planner with this behavior for these reasons:
- To make the view of your project look clean.
- To make the task load faster. Think about this, what else is there? tasks created or tasks completed? The answer is completed tasks: if I charge all completed and unfinished tasks, Planner would take a long time to start.
### Let's analyze how other projects do it:
- Todoist, Google Task: You compl

[2020-01-06 14:45] alainm23 commented on #117
I think it is not necessary to complicate with this. The user must be shown an alert indicating that if he accepts, all his tasks will be eliminated.

[2020-01-06 14:46] alainm23 commented on #114
I really don't know how to solve this. But the question is: is it a problem?

[2020-01-06 14:47] ghost commented on #121
I use iOS reminder, there tasks that are completed simple hide, if you select show completed taks, the appear and they are ticked.

![image](https://user-images.githubusercontent.com/59498682/71825251-23b42600-30a4-11ea-9e10-f9b7516120b6.png)

think in terms of digital UX, apple has kind of got the gold standard.

[2020-01-06 14:48] ghost commented on #114
I see it also happens in elementary mail, so not app related

[2020-01-06 14:48] #114 closed, assigned to nobody

[2020-01-06 14:51] ghost commented on #10
@alainm23  not sure where this leaves us in terms of the icon. can I ask for a clear icon reference and ill propose more elemental :) icon

![image](https://user-images.githubusercontent.com/59498682/71825551-c5d40e00-30a4-11ea-964c-cb44aaf821a0.png)

[2020-01-06 15:39] 4jNsY6fCVqZv commented on #114
@inputbim Did you test with the stable version of Mail or the rewrite?

Why do you consider this behavior an issue? Which behavior would you expect / wish?
Would it be important to you to change this behavior? Then you can create a general issue: https://github.com/elementary/stylesheet

p.s. Just tested it myself. Code works the way you want it to?

[2020-01-06 15:42] 4jNsY6fCVqZv opened #122 "Inbox, Today & Upcoming View, should show a placeholder when there are no tasks"
Read more at https://github.com/alainm23/planner/issues/113#issuecomment-570796668

[2020-01-06 15:54] alainm23 commented on #122
Of course my friend.

[2020-01-06 15:58] 4jNsY6fCVqZv commented on #117
btw. What about the mentioned undo function? Possible? Makes sense? Separate issue?

[2020-01-06 16:01] 4jNsY6fCVqZv commented on #10
@alainm23 I also like the small detail of the notebook icon variant very much. How can this interact with the base of the Agenda icon?

[2020-01-06 16:09] ghost commented on #10
@alainm23 @4jNsY6fCVqZv
 I am getting quite confused as to what this icon needs ;(
@4jNsY6fCVqZv
is this what you had in mind?
![image](https://user-images.githubusercontent.com/59498682/71830422-5f082200-30af-11ea-8972-01eb85db3838.png)

just stating the end project of this can still be tweaks in terms of gradients, colours, shading, emboss etc.

we just need to settle on the actual icon.

sketch

[2020-01-06 16:22] 4jNsY6fCVqZv commented on #10
@inputbim Thanks for your designs! I'm just as confused.

Alain wrote that he'd like to include that detail. And he wrote that the basis could be the Agenda icon. I was also wondering in what direction it should go. That's why I asked how the two can come together.

Because of the description about the future of Planner, I personally feel that an icon that shows more complexity than a simple task

[2020-01-06 16:40] alainm23 commented on #10
Sorry for not being clear. The idea that I gave you above is the image number 2.
These are some designs that I have been saving for some time (Planner is about 2 years old)
- I lean towards numbers 2, 5 and 12.

![image](https://user-images.githubusercontent.com/33765137/71832424-e5554180-3078-11ea-9360-b7e6f13e6bd5.png)

[2020-01-06 17:05] goldcoders opened #124 "planner beta not launching on archlinux after installing from flatpak"
**Describe the bug**
i follow installation here for not elementary OS disto
https://planner-todo.web.app/planner-beta-blog

Im using archlinux , with i3 gaps , im not using any desktop only window manager

**To Reproduce**
Steps to reproduce the behavior:
1. flatpak -v run com.github.alainm23.planner

[code]
**Expected behavior**
App should be running / launch

[2020-01-06 17:17] goldcoders commented on #124
it did launch after 30secs or a  minute or so... but that is way too slow
ive tried this before on VM using elementary OS it  started around few secs around 5 or 10... with limited ram...
Any reason why this is launching the app very slow?

[2020-01-06 17:19] alainm23 commented on #124
In my case it starts around 2 to 3 sec. Not sure why this happens. Planner 2 was built thinking of always starting fast.

[2020-01-06 17:31] goldcoders commented on #124
I uploaded a video on how i try to launch this with verbose , so we can see the logs
also you will see it will start very slow, It should be starting very fast im using a latest laptop

https://youtu.be/jEkb27cZv6U

[2020-01-06 17:45] alainm23 commented on #124
It's true, what patience you have. Have you tried any other application using Flatpak?

[2020-01-06 18:01] goldcoders commented on #124
when will this be uploaded in flathub? I think it would be better if i wait the stable version...
This App looks promising, looking forward for stable version in version 2,
or much better if this is available in Arch AUR , than flatpak  ,
I did tried to installed this on arch but it failed due to some dev dependencies...
arch uses always the latest package so the old packages if i installe them it

[2020-01-06 18:31] alainm23 commented on #124
I have registered some errors to solve before a release. I think it shouldn't take more than 2 weeks.

[2020-01-07 09:55] ghost commented on #10
I like number 2 and 5, lean more to 2 due to 5 being bit to detailed I think for icon, and small scale might loose clarity.

@alainm23 Can I take number to and elementify it for you? just send the svg if you have.

[2020-01-07 11:48] ghost commented on #105
This feature in my opinion should be optional.

[2020-01-07 11:56] 4jNsY6fCVqZv commented on #105
My idea is that people have the choice of encrypting their Planner database (or even individual projects or single tasks) when creating it or not. It might be fine to explain to people what situations exist where sensitivity in handling project data makes sense. For example, especially in work contexts or when teams share a common database.

Can you think of other use cases where this feature make

[2020-01-07 22:05] mzzntn opened #125 "& Problems"
It seems that the program has several problem digesting the character &

* If & is insert between 2 words when a new project is created this happens
![1](https://user-images.githubusercontent.com/37122612/71932785-e1244380-31a0-11ea-9e9c-b640d7fc63e7.png)
* If i try to change the name removing the character nothing happens
* If i add the character after a new project is created it doesn't update t

[2020-01-08 05:17] alainm23 commented on #125
Thank you very much for your comment. Sorry to tell you that you are running an outdated version of Planner. We are currently in the [beta](https://planner-todo.web.app/planner-beta-blog) test of Planner 2, a version with new design and UX.

[2020-01-08 05:17] #125 closed, assigned to nobody

[2020-01-09 02:05] yochananmarqos opened #126 "Building from source fails on GNOME 3.34.3"
**Describe the bug**
Build fails with:

[code]

**To Reproduce**
Attempt to build on an Arch-based distro

**Expected behavior**
Self-explanatory

**Desktop**
 - Manjaro
- GNOME 3.34.3

**Additional context**
I ran into the same issue as in #119 as `evolution-data-server` 3.34.3-1 provides `libecal-2.0`. I bumped the version in `meson.build` to no avail.

I know you're building this on and for Ele

[2020-01-09 03:44] alainm23 commented on #126
Could you rebuild please. I just updated the support for `libecal-2.0`

[2020-01-09 15:36] yochananmarqos commented on #126
The build still fails.

[Build log](https://del.dog/firasapafe)

[2020-01-09 15:49] alainm23 commented on #126
One more time pls. We go from 45 errors to 8.

[2020-01-09 16:06] yochananmarqos commented on #126
Success!

The dark theme needs a little work. I'm using Adwaita-maia-dark:

![Screenshot from 2020-01-09 09-04-47](https://user-images.githubusercontent.com/5437803/72083486-250d6a80-32bf-11ea-8fc6-eec8e3c7de82.png)

[2020-01-09 16:08] alainm23 commented on #126
Are you building Planner using flatpak?

[2020-01-09 16:12] yochananmarqos commented on #126
No, I'm building from source. See my PKGBUILD in the first post.

[2020-01-09 16:13] alainm23 commented on #126
Understood, I am programming Planner from elementary OS, for other distributions I recommend using flatpak.

[code]

Try this and Planner works better.

[2020-01-09 16:16] yochananmarqos commented on #126
Arch packages are built from source. I don't use flatpaks or snaps.

[2020-01-09 16:24] alainm23 commented on #126
So we have a problem here. The planner will not look good here because this depends on the theme and official icons of elementary OS.

![image](https://user-images.githubusercontent.com/33765137/72084967-7410cb00-32d2-11ea-9940-38b7df7fd82b.png)
Planner 2 in dark theme.

[2020-01-09 16:24] #126 closed, assigned to nobody

[2020-01-09 16:25] yochananmarqos commented on #126
Alright, I'll see if I can add those as dependencies. Right now I'm off to work.

[2020-01-09 16:30] alainm23 commented on #126
If you could do that job, I would be very grateful.

[2020-01-09 20:18] 4jNsY6fCVqZv commented on #10
Goes well with the discussion, I think:
https://blogs.gnome.org/tbernard/2019/12/30/designing-an-icon-for-your-app/

[2020-01-10 15:54] yochananmarqos commented on #126
I added the GTK theme & icons to dependencies and added it to the AUR: [`elementary-planner-git`](https://aur.archlinux.org/packages/elementary-planner-git/).

![Screenshot from 2020-01-10 08-33-46](https://user-images.githubusercontent.com/5437803/72164992-f5746600-3383-11ea-8985-cd17720499bf.png)

[2020-01-10 16:02] alainm23 commented on #126
You are a genius, thank you very much.

[2020-01-10 16:04] alainm23 commented on #126
@yochananmarqos Just a little more detail. Could you try the calendar feature? it works?

![image](https://user-images.githubusercontent.com/33765137/72167359-ffed2a80-3398-11ea-9c5a-a56a4b1e90bc.png)

![image](https://user-images.githubusercontent.com/33765137/72167438-1e532600-3399-11ea-8e3a-b179187ac278.png)

If you have a calendar application configured. Planner can bring all events and displa

[2020-01-10 16:09] yochananmarqos commented on #126
Yes, the calendar works, I'm signed in to Google in Online Accounts.

[2020-01-10 16:12] alainm23 commented on #126
Great!!!

[2020-01-10 16:19] yochananmarqos commented on #126
Do you recommend any particular fonts? It looks like Elementary has a few default fonts like Open Sans, Raleway, Dejavu, Droid, GNU Free Fonts and Liberation.

[2020-01-10 21:08] alainm23 commented on #122
![image](https://user-images.githubusercontent.com/33765137/72186518-74d55a00-33c3-11ea-875e-7e679fd4cd39.png)

What do you think?

[2020-01-11 06:52] goldcoders commented on #124
i think i found a solution on this,  ill try it first to recompile it on my arch set and see if it works then ill post the solution

[2020-01-11 07:10] goldcoders commented on #124
OK ive fixed the issue , that makes loading the app very slow , now its like 1 to 2 secs ...

Hope you add this in the repo documentations

if the user is using archlinux without any Desktop Environment

he should add this to his .xinitrc

[code]

[2020-01-12 10:34] 4jNsY6fCVqZv commented on #122
Visually it looks very good to me!
Not sure about the placeholder text itself yet.
To better understand this, I have a question: What exactly is the function of the Inbox?
For example, when I think of a solely local use of Planner.

Do you already have screenshots for the other views?

[2020-01-13 04:31] phase1geo opened #127 "Application crashes when moving a newly created task to a different section within a project"
- [ ] **Describe the bug**

I created a new task within a project using the Plus button in the bottom.  After which I viewed the detailed view of a task and attempted to move the task to a section within the same project.  When I did this, the application crashed (window disappeared).  When I restarted Planner, the task had properly moved to the requested section.

**To Reproduce**
Steps to reprod

[2020-01-13 04:40] phase1geo opened #128 "Add keyboard shortcut for creating a new task"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like to see a keyboard shortcut for creating a new task (Control-N or something else). It would also be nice to see what this keyboard shortcut is within the tooltip associated with the Plus button.

[2020-01-13 04:45] phase1geo opened #129 "Hitting return after creating a new section should create a new task within it"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It feels like unexpected behavior to have Planner change the UI to adding a another new section after creating one and hitting the return key.  If I create a new section, it is typically because I plan to add tasks to it.  Perhaps we could change the behavior by combining the Return key wit

[2020-01-13 15:42] alainm23 commented on #127
I'm trying to reproduce it but I can't.

[2020-01-13 15:43] alainm23 commented on #128
Of course, this feature comes in a future update, but not yet for the first version.

[2020-01-13 16:47] alainm23 commented on #10
![image](https://user-images.githubusercontent.com/33765137/72274422-278efd80-35fa-11ea-8fe9-7157aeb31bc8.png)
Apparently [Any.do](https://play.google.com/store/apps/details?id=com.anydo) already thought about it.

![image](https://user-images.githubusercontent.com/33765137/72274334-f31b4180-35f9-11ea-8be2-3c9d2fd19737.png)
Based on the UI, could it be a viable icon?

[2020-01-13 17:20] phase1geo commented on #127
I’ll see if I can provide a stack trace...

[2020-01-13 17:33] alainm23 commented on #127
Great.

[2020-01-13 17:51] phase1geo commented on #127
trevorw@trevorw-KPL-W0X:~/Downloads/planner$ gdb /usr/bin/com.github.alainm23.planner
GNU gdb (Ubuntu 8.1-0ubuntu3.2) 8.1.0.20180409-git
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show co

[2020-01-13 17:53] phase1geo commented on #127
Weird.  I'm setting the frame to 0 and running the following command:

(gdb) display *self
2: *self = <error: Cannot access memory at address 0x22a85a47f>

So the pointer to self is non-zero, but the data at the address is not accessible.

[2020-01-13 17:55] phase1geo commented on #127
I'm compiling with (what I believe is the lastest available version of valac on elementary):

trevorw@trevorw-KPL-W0X:~/Downloads/planner$ valac --version
Vala 0.40.18

[2020-01-13 20:02] ghost commented on #10
think they look very different, im not sure what the big icon is that you posed? can you send the svg of number 2, so I can implement Elementary style?

[2020-01-13 20:18] alainm23 commented on #10
Sure.
[diary.svg.zip](https://github.com/alainm23/planner/files/4055597/diary.svg.zip)

[2020-01-13 20:19] ghost commented on #10
@alainm23 , thanks I;m very busy lately, will try to sneak it in

[2020-01-13 20:21] alainm23 commented on #10
@inputbim Don't worry, rather thanks to you 🙌️.

[2020-01-14 17:00] alainm23 commented on #10
Well folks, I think we just need the icon to launch Planner 2. These are some ideas I've been thinking about.

![image](https://user-images.githubusercontent.com/33765137/72364568-bc5e2d80-36c4-11ea-8a0b-b50a5f0cf5de.png)
![image](https://user-images.githubusercontent.com/33765137/72364598-c7b15900-36c4-11ea-83d9-c1bf8c2d2748.png)

![image](https://user-images.githubusercontent.com/33765137/723647

[2020-01-14 17:01] ghost commented on #10
@alainm23 hold on there, :) I'm working on the icon today

[2020-01-14 20:40] ghost commented on #10
@alainm23

I lost focus... but this works nicely with notification.

![image](https://user-images.githubusercontent.com/59498682/72380653-85b50100-371e-11ea-9253-ba33443714a0.png)

![image](https://user-images.githubusercontent.com/59498682/72380689-9d8c8500-371e-11ea-90c2-35107bec264f.png)

![image](https://user-images.githubusercontent.com/59498682/72380784-ce6cba00-371e-11ea-88a3-aedc8eef4d0b.p

[2020-01-14 21:29] alainm23 commented on #10
I like the idea. what do you think of my design?

![image](https://user-images.githubusercontent.com/33765137/72383924-7b790f80-36ea-11ea-925e-7aa31921ce28.png)
![image](https://user-images.githubusercontent.com/33765137/72383970-8cc21c00-36ea-11ea-8b1b-3cf41fb785a0.png)

[2020-01-15 07:18] ghost commented on #10
@alainm23 nice, i like it, but might come down to previously discussed, does it resemble what the app does, think its more what people prefer now, I will post on twitter and tag planner and elementary, if you can go rewteet,

Think it will be best way to close this issue

![image](https://user-images.githubusercontent.com/59498682/72413184-dc025e00-3777-11ea-8593-b314fd50e2ad.png)

[2020-01-15 19:32] alainm23 commented on #10
I really like your design, and I think it complies with all the indications mentioned above.  However, I feel that this design is more oriented to a calendar application. It is true that Planner supports calendar events but with very basic functionality.

I like number 1 but I don't know, I feel that something is missing.

I designed the number 2 taking into account a blueprint (with the intention

[2020-01-15 19:34] ghost commented on #10
Perfect, online it also seemed to be 5 or 6 leaning more to 6. I'm just glad that this issue can be closed :)

[2020-01-15 20:43] #10 closed, assigned to nobody

[2020-01-15 20:44] alainm23 commented on #10
Thank you all for your ideas and time. With this problem solved, only a few details are missing before you can launch Planner 2.

[2020-01-15 21:03] yochananmarqos commented on #126
I just built using the latest commit 172e3e2dcd6aa6e0f60b2a173ff90ad59596cecd and get this now:
[code]

[2020-01-15 21:06] alainm23 commented on #126
I imagine, I just made some modifications to the Planner 2 database file before the first release. Try deleting the database file.

`/home/<user>/.local/share/com.github.alainm23.planner`

[2020-01-15 21:12] Hedronmx opened #130 "Cant run version 2.0.1"
**Describe the bug**
It wont start

**To Reproduce**
Open the app

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS or DE: [e.g. pantheon, unity, gnome]
 - Version [e.g. 0.1.2]

**Additional context**
ERROR:/home/carlos/p

[2020-01-15 21:13] yochananmarqos commented on #126
I removed that folder, still no go:

[code]

[2020-01-15 21:16] #130 closed, assigned to nobody

[2020-01-15 21:16] alainm23 commented on #126
Try one more time pls.

[2020-01-15 21:22] yochananmarqos commented on #126
Yep, it works now. Thanks!

[2020-01-16 15:47] alainm23 commented on #13
Hello everyone, I am trying to package my Planner 2 with flatpak. Everything is fine but when I try to log in using Todoist, I get this error. Any ideas what happen? This only happens when building from flatpak.

![image](https://user-images.githubusercontent.com/33765137/72539417-43d6a880-384d-11ea-9122-3ff9b7baee49.png)
![image](https://user-images.githubusercontent.com/33765137/72539437-4c2ee38

[2020-01-16 18:28] matfantinel commented on #13
Hi @alainm23 , I think that currently translations are not working either on Flatpak. Can you confirm?
I recently published two of my elementary apps to Flatpak and got the same issue. We can share info if one of us finds out more about it.

And sorry, I don't know how to help with your current issue logging in to Todoist right now :/

[2020-01-16 18:31] bilelmoussaoui commented on #13
@matfantinel You need something along this in the main function before creating a new GtkApplication to setup i18n with gettext
[code]
Otherwise, the i18n won't get detected correctly;

[2020-01-17 21:01] alainm23 opened #132 "Calendar events are not shown when building from flatpak"
When building from flatpak calendar events are not displayed. I worked on this and only managed to show the sources.

this is my manifest file:
https://github.com/alainm23/planner/blob/master/build-aux/flatpak/com.github.alainm23.planner.json

[2020-01-18 02:48] Hedronmx opened #133 "Set a minimum window size"
**Describe the bug**
You can resize the window and obscure certain important parts of the app, like the add task button and more.

**To Reproduce**
Resize the window to a really small dimension
**Expected behavior**
Make it stop on the minimum size.

**Screenshots**
![image](https://user-images.githubusercontent.com/26935602/72657494-d7959b00-3959-11ea-87f9-a380e5bc58e0.png)

**Desktop (please com

[2020-01-18 02:48] Hedronmx commented on #21
This but for planner v2

[2020-01-18 12:32] alainm23 commented on #13
@matfantinel check mi last commit: https://github.com/alainm23/planner/commit/47826d354c63ab16d3b8f7039f3254d98a503e72

[2020-01-18 20:42] #13 closed, assigned to nobody

[2020-01-19 16:52] danirabbit opened #135 "2.0.8 crashes on start"
Installing from packaging in the appcenter testing repo I get this output when running Planner:

[code]

[2020-01-19 17:10] alainm23 commented on #135
Have you tried Planner on another occasion?
If that is the case, try deleting your database file.
`/home/<user>/.local/share/com.github.alainm23.planner/`

[2020-01-20 10:16] gavr123456789 opened #136 "Add new task button disappears"
**Describe the bug**
Add-new-task button disappears.

**To Reproduce**
Steps to reproduce the behavior:
IDK, It seems like it disappears when I switch to a project that has a task with a description, but other projects also have tasks with a description, maybe this is somehow related to the fact that it is the last one... look gif

**Expected behavior**
The add button is always available

**GIF**

[2020-01-20 10:25] gavr123456789 opened #137 "Cant build via AUR"
**Describe the bug**
meson.build:38:4: ERROR: Dependency "libecal-1.2" not found, tried pkgconfig and cmake

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pamac AUR
2. Click on Build
3. See error  `Dependency "libecal-1.2" not found, tried pkgconfig and cmake`
4. ...Profit

**Expected behavior**
No error

**Screenshots**
![image](https://user-images.githubusercontent.com/30507409/7271

[2020-01-20 10:39] ghost opened #138 "Flathub website address"
**Describe the bug**
Application's website address consists of 2 https parts in the address, so when website button is clicked on Flathub, page cannot be reached

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://flathub.org/apps/details/com.github.alainm23.planner
2. Click on Website button
3. See error

**Expected behavior**
Link should lead to https://planner-todo.web.app rathe

[2020-01-20 13:33] ghost commented on #133
Actually, why is the close button on the left for me. I have tweaked Elementary OS to have the close button on the right side instead of left.

[2020-01-20 14:07] maierjeff opened #139 "Not syncing with gnome shell calendar"
Planner recognize my calendars on my computer, at the same time i set-up. But, the activities aren't displayed on planner, as the planner activities aren't displayed on my shell.

I'm a designer, I don't know anything about coding, and puttin it here because I don't find a forum.
I use ubuntu 19.10, with xorg

[2020-01-20 15:04] alainm23 commented on #139
Could you run Planner with this command and send me the result of the terminal please.
`flatpak run --log-session-bus com.github.alainm23.planner `

[2020-01-20 17:58] maierjeff commented on #139
[planner.txt](https://github.com/alainm23/planner/files/4087353/planner.txt)

[2020-01-20 20:03] danirabbit commented on #135
Hey it works! Might be good to try to guard against a corrupt/old database though :)

[2020-01-20 20:07] alainm23 commented on #135
I will consider it thank you very much.

[2020-01-21 03:33] ccm27 opened #140 "Update Deletes ALl My Tasks"
**The New Mon Jan 20 2020 Update Removed My Tasks**

When I had all my new years resolutions and tasks on the old planner, updating it deleted all of them.

**To Reproduce**

Steps to reproduce the behavior:

1. You have all your tasks on the old planner
3. you update
4. you click localy instead of using todist
5. All my tasks are gone :(

**Expected behavior**

My tasks should move over to the ne

[2020-01-21 03:56] Hedronmx commented on #99
Aún hay problemas de sincronización
![image](https://user-images.githubusercontent.com/26935602/72774313-ffd20380-3bbe-11ea-959b-79e816d93d2b.png)

[2020-01-21 03:59] #135 closed, assigned to nobody

[2020-01-21 07:34] oskarkunik opened #141 "White font on white in Todoist login and password inputs when dark theme selected"
When dark theme is selected, text inputs Todoist authentication window stay white (background), but font gets white color from theme. This makes the font invisible (until you select it inside the input field).

Steps to reproduce the behavior:
1. Go to Preferences
2. Change Theme to 'Night'
3. In Preferences click on Todoist
4. Try typing in Email or Password fields

Text in input fields should st

[2020-01-21 07:41] oskarkunik opened #142 "Typo in project Homepage url in Elementary app store"
Planner's Homepage link in elementary OS app store leads to:

`https://https//planner-todo.web.app`

Steps to reproduce the behavior:
1. Go to AppCenter in Elementary OS
2. Open Planner's page
3. Scroll down to the footer
4. Hover/click on Homepage

The url should be

`https://planner-todo.web.app`

![image](https://user-images.githubusercontent.com/8790204/72784728-bec30900-3c29-11ea-85ba-3154085

[2020-01-21 08:07] oskarkunik opened #143 "Setting colors for projects seems not to work"
Picking a color for project doesn't change anything.

Steps to reproduce the behavior:
1. Add a new Project
2. Click on the Project's menu icon
3. Click on Colors
4. Pick a color
5. The color gets saved (you can see it selected in the picker) but is not set for the Project

The color should be applied to the Project

 - OS or DE: Elementary OS, Pantheon
 - Version 2.0.8

[2020-01-21 10:01] 4jNsY6fCVqZv opened #144 "Time format should automatically be set to the system standard"
**Describe the bug**
Currently, the Planner General Settings show "AM/PM" by default, although I selected "24h" in the Date & Time plugin. So I have to change it manually to make it match.

**Expected behavior**
Planner should use & suggest time settings that are already set by the system.

But I ask myself: What if for some reason I consciously want to choose a different time format in Planner th

[2020-01-21 10:37] 4jNsY6fCVqZv opened #145 "Example project is created by an indicated menu"
**Describe the bug**
I find it very irritating from a logical point of view. The triangle symbol arouses my expectation that a menu will open up, just like it does with the other items under "Preferences".
Instead, an example project is created directly without warning.

**Expected behavior**
I would expect that the creation of a example project would not happen without prior warning, especially s

[2020-01-21 10:43] 4jNsY6fCVqZv opened #146 "Newly created sample project (via the preferences) gets focus, while sidebar keeps the previously active project in focus"
**Describe the bug**
What it says on the tin.

**Expected behavior**
Either the last project remains in focus or the sidebar takes the last created project in focus as well.

**Screenshots**
![planner](https://user-images.githubusercontent.com/46536067/72798185-6a745500-3c3a-11ea-8682-f766da87d73f.png)

**Desktop (please complete the following information):**
- OS or DE: elementary OS 5.1 Hera/Pan

[2020-01-21 10:45] oskarkunik commented on #142
I just noticed this is a duplicate/related to #138

[2020-01-21 13:12] oskarkunik commented on #143
OK, now (after using the app for some time) I noticed that there's progress being displayed in the circle next to Project's name.

Closing.

[2020-01-21 13:12] #143 closed, assigned to nobody

[2020-01-21 14:15] alainm23 commented on #143
😁️

[2020-01-21 14:29] alainm23 commented on #141
I can't reproduce the error. Could you send me a screenshot please?

[2020-01-21 14:34] alainm23 commented on #137
@yochananmarqos Could you help me with this error please.

[2020-01-21 14:36] alainm23 commented on #142
Thanks for your observation but this is duplicated #138.

[2020-01-21 14:36] #142 closed, assigned to nobody

[2020-01-21 15:53] alainm23 commented on #99
Si definitivamente y gracias por tu observacion pero solo una imagen no es suficiente. me gustaria que puedas ser un poco mas detallado e intentar reproducir el problema, de esa forma se podria solucionar mas rápido.

[2020-01-21 15:57] Hedronmx commented on #99
Cómo puedo darte logs o de qué manera puedo hacer mejor el reporte?

Sigue sucediendo de la misma manera, le doy completar a las tareas y no se actualiza en todoist, o cambio las fechas y no se actualiza.

Le doy en el botón de actualizar e igual no se actualizan.

A veces, dandole Kill a planner, se actualiza pero sólo al iniciar de nuevo el programa

[2020-01-21 16:05] alainm23 commented on #99
- Y al editar el contenido de una tarea (el nombre) a tenido problemas?
- Tiene una buena conexión de internet?
- Podría confirmar que esto solo pasa al completar y actualizar las fechas de una tareas?

[2020-01-21 16:13] Hedronmx commented on #99
1. Probando esto me di cuenta, que al presionar el boton de sincrozinar, sólo descarga la información, no la envía. Tendré que esperar 15 minutos para que se actualice en todoist.
Al editar el nombre por si solo, no se actualiza de manera "Inmediata"

2. Si, no tengo problemas con mi internet. Siempre pruebo la aplicación con mi laptop o mi ordenador.

3. Es con lo que más lo he notado. Debo hacer

[2020-01-21 16:35] krebszattila commented on #136
I can reproduce this by clicking "Upcoming" (the button disappears) and then clicking any of my projects: the button does not appear. However, if I click on "Inbox" or "Today" the button appears again.

[2020-01-21 16:49] alainm23 commented on #136
Thanks for your comments, I already fixed this problem, wait for a next update.

[2020-01-21 16:51] alainm23 commented on #99
- Exactamente, el boton de sincronizar no sube la información, solo comprueba si hay cambios en el servidor.
- No tiene que esperar 15 min para que los cambios se actualicen en el servidor. al agregar, editar o eliminar una tarea, proyecto o sección esta se actualiza automáticamente en Todoist.
- Planner no soporta el archivamiento de un Proyecto o Sección aun.

[2020-01-21 17:00] yochananmarqos commented on #137
@gavr123456789 Not having `libecal-1.2` isn't the issue. It looked for `libecal-2.0` first, but since it couldn't find it it looked for `libecal-1.2` and that's where it stopped.

I can't reproduce the issue. Make sure you're up to date and maybe reinstall `evolution-data-server`:
[code]

[2020-01-21 17:07] gavr123456789 commented on #136
@alainm23 Nice!, can you please ping here to let me know that.

[2020-01-21 17:09] alainm23 commented on #99
Me estaba olvidando de algo. Cuantas veces ejecuta alguna operación con Todoist por minuto? con una operación me refiero a crear, editar o eliminar ya sea una proyecto, sección o tarea. Todoist limita el uso de su API a 60 de estas operaciones por minuto. Tal vez esta sea la causa de por que no se actualiza.

[2020-01-21 17:10] alainm23 commented on #136
Sure 😉️.

[2020-01-21 17:14] alainm23 commented on #144
Thanks for your comment. I implement this feature to make Planner can be built to other distributions. Planner uses `Granite` and this library depends on several variables that are only available in elementary OS.

[2020-01-21 17:20] oskarkunik commented on #141
Sure,

This is what I see when typing in Email:

![Screenshot from 2020-01-21 18-14-57](https://user-images.githubusercontent.com/8790204/72826957-26a14000-3c7a-11ea-837c-c362217fd37d.png)

When I select the contents of the field I see:

![Screenshot from 2020-01-21 18-15-10](https://user-images.githubusercontent.com/8790204/72826997-3e78c400-3c7a-11ea-80ff-a7b3020f06c4.png)

EDIT

And here's a gi

[2020-01-21 17:57] alainm23 commented on #140
I'm sorry. Planner 2 was built completely from 0 and support for Planner 1 will no longer be available.

[2020-01-21 17:57] #140 closed, assigned to nobody

[2020-01-22 04:31] Hedronmx commented on #99
No pues solo completo las tareas cada 10 20 hasta 1 hora entre cada tarea.

De qué otra manera puedo ayudarte?

[2020-01-22 07:07] WebShapedBiz opened #147 "Version 2.0.8 badge count not visible on autostart"
First of all, I would like to thank you for your time and effort in developing such a great app.

**Describe the bug**
In General settings, the Planner is set to "Run on startup" and "Run in background".
In Switchboard -> Applications -> Startup there is a Planner entry and it's switched on.
However, upon elementaryOS startup, there is no badge visible. The app needs to be started manually to acti

[2020-01-22 11:18] 4jNsY6fCVqZv commented on #144
So where does Planner currently get/handle the time format (from)? Granite.Services.Settings?

[2020-01-22 14:20] 4jNsY6fCVqZv commented on #143
At least it doesn't explain itself until I have created a project with tasks and worked through some of them. So it really looks like the color selection doesn't work. Is there any other visual way to make the workflow clearer for users?

[2020-01-22 14:26] alainm23 commented on #143
We could use the Project tutorial to teach about it.

[2020-01-22 14:42] 4jNsY6fCVqZv commented on #143
Okay, it's definitely worth a try. I am curious about your design for this!

[2020-01-22 15:19] alainm23 commented on #144
I see that Granite was [updated](https://github.com/elementary/granite/commit/35f8089e803354997064d470fc95150ab704a002). I had this problem with Planner 1. You are right, update this in a future update. Thank you 😃️.

[2020-01-22 15:26] 4jNsY6fCVqZv commented on #144
Thanks for taking another look at it!

[2020-01-22 17:16] alainm23 commented on #147
Do you have Planner visible in Plank when the system starts?

[2020-01-22 17:21] WebShapedBiz commented on #147
It didn't come to my mind to check it since I'm having Planner pinned on Plank.
Now I see that it's not showing after removing it from the Plank and reboot.

[2020-01-22 17:39] alainm23 commented on #147
Ok I had to restart my computer about 3 times to verify the error hahaha. Well, basically it happens because Planner doesn't start.

[2020-01-22 18:00] alainm23 commented on #147
Thank you very much. It was corrected (It is probably necessary to reactivate the option 'Run on startup' in the Planner preferences.). However, it is necessary that Planner be visible in Plank to see the badge count.

[2020-01-22 18:21] #136 closed, assigned to nobody

[2020-01-22 18:22] #138 closed, assigned to nobody

[2020-01-22 18:22] #145 closed, assigned to nobody

[2020-01-22 18:22] #146 closed, assigned to nobody

[2020-01-22 18:22] #147 closed, assigned to nobody

[2020-01-22 19:22] 4jNsY6fCVqZv opened #148 "It should be possible to assign due dates also for projects and project periods"
**Is your feature request related to a problem? Please describe.**
I'm just thinking about professional contexts. When we work in so-called sprints, this has a time frame in which the project is to be worked on and finished. This is also often the case in software development. Currently, I can only define due dates for individual tasks within Planner.

**Describe the solution you'd like**
It shoul

[2020-01-22 19:56] WebShapedBiz commented on #147
Thank you @alainm23 for your time and effort.

[2020-01-22 20:14] 4jNsY6fCVqZv opened #149 "Search popover cannot be closed by pressing ESC, nor by clicking on an area outside the search popover"
**Describe the bug**
see issue title!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Inbox'
2. Click on 'Click Find'
3. Enter e.g. 'Getting Started'
4. Select "Getting Started"
5. Hit the "Clear button" -> btw. this one has no tooltip so far
6. Try to close the search popover with ESC. For me not working!

Even if I switch to the Today view afterwards, the popover remains open and do

[2020-01-22 20:18] 4jNsY6fCVqZv opened #150 "Window position and window size should be restored correctly"
**Describe the bug**
Right now both settings do not seem to be remembered.

**To Reproduce**
At will!

**Expected behavior**
Just as I close the application with the x button, I want it to reappear when I restart it via Plank or the application menu.

**Desktop (please complete the following information):**
- OS or DE: elementary OS 5.1 Hera/Pantheon
- Version: v2.0.8

[2020-01-22 20:25] 4jNsY6fCVqZv opened #151 "A search displays a single existing task seven times"
**Describe the bug**
it's already in the issue title.

**Expected behavior**
I would expect to get only one search result, if the searched word / word combination exists in only one place.

**Screenshots**
![Screenshot from 2020-01-22 21 02 21](https://user-images.githubusercontent.com/46536067/72930872-c92df180-3d54-11ea-9bd3-ac81ea8c295b.png)

**Desktop (please complete the following information

[2020-01-22 20:35] 4jNsY6fCVqZv opened #152 "A click on a search result should also trigger an action"
**Is your feature request related to a problem? Please describe.**
Right now, only when I press Enter will the view jump to the project "Getting Started" in that case. This is not necessarily self-explanatory for me.

**Describe the solution you'd like**
I would expect that clicking on the "Getting Started" project found by the search would have the same effect.

![Screenshot](https://user-images.

[2020-01-22 20:47] 4jNsY6fCVqZv opened #153 "Search results should be more precise"
**Is your feature request related to a problem? Please describe.**
Right now, when I search for the project "Getting Started", I get a lot of results, including duplicate results that have nothing to do with my search term directly. Unfortunately this makes my search efforts a bit cumbersome. Only when I have already typed in "getting s" Planner finds what I am looking for. Currently, my search te

[2020-01-22 20:48] alainm23 commented on #151
Haha. How many times have you created a tutorial project? I already found the bug. Thank you.

[2020-01-22 20:50] alainm23 commented on #153
Definitely the Quick Search has to be improved. There will already be a super update for this. be passive please.

[2020-01-22 20:55] alainm23 commented on #148
Sure. I had already thought about it and I have a super cool design to implement it.

[2020-01-22 20:57] 4jNsY6fCVqZv commented on #151
Some ;-)
But seriously: What is the reason?

[2020-01-22 21:01] alainm23 commented on #149
Good observation.

[2020-01-22 21:01] 4jNsY6fCVqZv commented on #153
Thanks for working on this! In the meantime, I'll be patient.

[2020-01-22 21:04] alainm23 commented on #151
There is an error in Planner. When I delete a project, I do not delete all the related sections and tasks.

[2020-01-22 21:06] 4jNsY6fCVqZv commented on #151
Thank you for the explanation!

[2020-01-22 21:26] 4jNsY6fCVqZv commented on #151
Just saw, that I had created a sample task to test the due dates and label and checklist in one task. This task and its list is still displayed in the upcoming view, but it is neither in the inbox nor part of an existing project. And I can even make changes to the task that are immediately applied and even survive a restart of Planner. Same thing?

[2020-01-22 21:35] alainm23 commented on #151
I think so, I will follow this more deeply.

[2020-01-23 09:56] ww-9 opened #154 "Header Bar"
**Is your feature request related to a problem? Please describe.**
Right now, on non Pantheon desktops current header bar implementation stands out from the overall UX, especially when header bar buttons are shifted to the right. It lacks Minimize, Maximize buttons also.

**Describe the solution you'd like**
To use GTK HeaderBar and follow system settings

[2020-01-23 12:45] #144 closed, assigned to nobody

[2020-01-23 14:03] 4jNsY6fCVqZv opened #155 "Why does the "Add list" button have a text label while the "Add Task" button has a tooltip?"

[2020-01-23 14:15] 4jNsY6fCVqZv opened #156 "If I select the time when adding a new reminder, I cannot add it by pressing ENTER"
I have to click the "Add" button manually. Deliberately designed this way?
Would expect ENTER to add the reminder.
By the way: When adding a new task it already works like this.
What do you think?

[2020-01-23 14:25] 4jNsY6fCVqZv opened #157 "The "Add task" popover can be closed by ESC, the "Add list" popover cannot"
I would expect it to work for both with ESC.

[2020-01-23 14:30] 4jNsY6fCVqZv commented on #149
While I think ESC should always close a popover, I am not sure if a popover should close immediately when I put the focus on another window (inside or outside Planner). What would make sense for you?

[2020-01-23 18:15] aggalex opened #158 "Headerbar creates some UI problems"
**The headerbar created the following UI issues:**
1. The headerbar Gtk.Paned can be pulled too mush to the left. You correctly made the app restore such a change, but it's not addressing the issue by itself.
2. The space to the right of the x button is can be filled with the user's icon, name, and the search and gear icons, which right now are right below.
3. The headerbar cuts scrolling content

[2020-01-24 10:47] Jan-Bart opened #159 "Can't login with Todoist username/password"
**Describe the bug**
When entering username and password in Todoist Planner hangs.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Planner
2. Click on the cog-wheel
3. Click on Todoist
4. Fill in username/password
5. Click on login
6. Nothing happens (error is visible in Linux terminal)

**Expected behavior**
I expect Planner to be linked with Todoist after clicking on "login".

**Scree

[2020-01-24 11:51] alainm23 commented on #159
Have you installed Planner from Flathub?

[2020-01-24 11:59] Jan-Bart commented on #159
Yes, I did.

[2020-01-24 12:56] alainm23 commented on #159
I had the same problem in elementary OS Hera (Ubuntu 18.04) but I thought I had solved it.

[2020-01-24 12:57] alainm23 commented on #159
I will keep track of it, thanks for reporting it.

[2020-01-24 16:03] gavr123456789 commented on #137
I'll try again tomorrow. I asked the person in my vala chat, and it works too, it's magic. I absolutely have these files.
![image](https://user-images.githubusercontent.com/30507409/73083380-1ee0d600-3edc-11ea-9d7f-0d90cf1ffaec.png)

[2020-01-25 02:52] #156 closed, assigned to nobody

[2020-01-25 03:07] alainm23 commented on #158
I have ordered the left panel. However, the project view panel will remain the same. This with the intention of gaining space to show more sections or tasks.

![image](https://user-images.githubusercontent.com/33765137/73115576-f2d24e80-3ef5-11ea-90a8-0033e4021bce.png)

[2020-01-25 03:08] #158 closed, assigned to nobody

[2020-01-25 03:11] alainm23 commented on #155
What would be your idea to improve it?

[2020-01-25 10:06] 4jNsY6fCVqZv opened #160 "The notes part of a task should handle links to websites"

[2020-01-25 11:15] 4jNsY6fCVqZv opened #161 "Drag and drop does not work properly"
- [x] It should be possible to move tasks to any position in a list.
I created a section with three tasks.
When I try to drag and drop task 2 or task 3 to position 1, it doesn't seem possible.
Moving task 1 to position 2 or 3 is possible without problems.

- [x] It should be possible to move tasks to any section.
It seems that I can only move a task to a section if there is already another task in

[2020-01-25 14:13] alainm23 commented on #161
Thanks for the comment. It will be fixed.

[2020-01-25 17:17] 4jNsY6fCVqZv commented on #156
May I ask why you closed it already?

[2020-01-25 17:19] 4jNsY6fCVqZv commented on #160
What kind of help would you like to see for this issue?

[2020-01-25 19:35] alainm23 commented on #160
I would like to know how do it. I haven't found sample code that does this functionality,

[2020-01-25 19:38] alainm23 commented on #156
Don't worry, I've already solved it.

[2020-01-25 19:41] 4jNsY6fCVqZv opened #162 "Sidebar, project settings: "Move to area" should be insensitive/greyed out if no areas have been created yet"
Then this view no longer appears.
![Screenshot](https://user-images.githubusercontent.com/46536067/73126435-58801280-3faa-11ea-9818-f63406305e0b.png)

[2020-01-25 19:47] 4jNsY6fCVqZv opened #163 "Why are there two different locations where different project settings are arranged?"
Does it make sense to simplify it? E.g. to move the functions from the three dots hover menu from the sidebar to the "Options" area in the project view. The sidebar would then simply contain the project name, the location and the number of unsolved tasks. Without an extra settings menu. How do you feel about it?

[2020-01-25 19:49] 4jNsY6fCVqZv commented on #156
Thank you so much!

[2020-01-25 19:53] 4jNsY6fCVqZv commented on #160
Meaning you've thought about it, too?
Do you think popular notes apps or markdown editors located in the AppCenter could be a good inspiration?

[2020-01-25 20:21] sollymay opened #164 "Application crashes on startup"
**Describe the bug**
The application starts up (I can briefly see the interface) and less than a second later, crashes. I have completely uninstalled and reinstalled the app without being able to fix the issue

**To Reproduce**
Steps to reproduce the behavior:
1. Install the app through AppCenter
2. Try to open app for the first time
3. App crashes
4. Uninstall the app
5. reinstalled the app
6. Tr

[2020-01-25 23:58] gleissonjoaquim3 opened #165 "The Brazilian Portuguese is not completely done"
The translation into Brazilian Portuguese is not completely done (image below). I installed the program for the first time which is excellent, but it could have this improvement in the translation into my language.

Version : Planner 2.0.8

![Captura de tela de 2020-01-25 20-54-49](https://user-images.githubusercontent.com/55757359/73128870-15776c80-3fb5-11ea-9497-245c0ad685c2.png)

[2020-01-26 02:37] alainm23 commented on #163
You're right, I had already thought about this. My solution is to create a dialog to be able to edit the name, color and other project data.

[2020-01-26 02:42] alainm23 commented on #165
I'm sorry, I don't speak Portuguese. However, if you could send a PR to fix it, I would be very grateful.
Check: https://github.com/alainm23/planner/tree/master/po#translating-planner
You should edit this file:
https://github.com/alainm23/planner/blob/master/po/pt.po
or
https://github.com/alainm23/planner/blob/master/po/pt_BR.po

[2020-01-26 02:45] alainm23 commented on #164
I'm so sorry, I'm not sure what happens, you can try this solution:
Delete the database file:
`/home/<user>/.local/share/com.github.alainm23.planner`

[2020-01-26 02:47] alainm23 commented on #160
Yes, using Markdown is a good solution. However, in order to view a file in Markdown it is necessary to create a web view and I feel that this is a very complicated process.

[2020-01-26 02:48] alainm23 commented on #162
Thanks for the comment, we are working on this for v2.1.

[2020-01-26 09:48] gavr123456789 opened #166 "Error syncing with todoist when syncing is disabled."
**Describe the bug**
Error syncing with todoist when syncing is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Somehow get a sync error with code 6.
2. Disable syncing so that you don't click OK every time.
3. The error still appears.

**GIF**
![Peek 2020-01-26 12-44](https://user-images.githubusercontent.com/30507409/73133462-eeaf4980-4039-11ea-80d3-d13814da224f.gif)

**Desktop (

[2020-01-26 16:52] 4jNsY6fCVqZv commented on #163
I'm curious! Do you have designs for it yet?

[2020-01-27 00:25] gleissonjoaquim3 commented on #165
OK ! I'll do it and then send the PR

[2020-01-27 10:49] 4jNsY6fCVqZv opened #169 "Is there a reason why it is not yet possible to create sub-levels of projects or areas?"
I'm thinking of a way to map much more complex project structures. Or is the idea to solve that via the sections?

[2020-01-27 11:03] 4jNsY6fCVqZv opened #170 "It should be possible to create new projects directly within areas"
Right now I can create projects, but then I have to move them manually into an existing area. Don't know if areas would have to be selectable to achieve this (blue background, as in selected projects).

[2020-01-27 14:34] #149 closed, assigned to nobody

[2020-01-27 14:54] #152 closed, assigned to nobody

[2020-01-28 09:08] 4jNsY6fCVqZv opened #171 "Planner does not run on startup even if "Run on startup" is activated"
However, the AppCenter applications plug correctly indicates that I want to launch the app at startup if I have previously set the switch in Planner to do so.

[2020-01-28 09:15] 4jNsY6fCVqZv opened #172 "Position of the button for adding new labels does not seem intuitive to me"
![screenshot](https://user-images.githubusercontent.com/46536067/73250356-a49ba480-41ae-11ea-8488-1e253848392d.png)
The button for adding new labels should not be in the navigation bar, but where it is when adding a new reminder, for example.

[2020-01-28 09:23] 4jNsY6fCVqZv opened #173 "If I manage a lot of labels in the Preferences menu, newly added ones should get a focus"
I can scroll, but this is not obvious to me, because no scrollbar is shown as soon as I have more than eight entries. It would also be nice if the focus would automatically jump to the new entry, so I can edit it directly without searching.

[2020-01-28 09:31] 4jNsY6fCVqZv opened #174 "When I want to create a new label with ENTER, nothing happens"
![screenshot](https://user-images.githubusercontent.com/46536067/73251464-ee858a00-41b0-11ea-9392-1808c979e6e9.png)
I would expect the new label to be added to my list then.

[2020-01-28 09:35] 4jNsY6fCVqZv opened #175 "When I rename a label in the settings, it should be removed from the task the old label was assigned to"
I'm not sure about that right now. How do you feel about it?

[2020-01-28 09:42] 4jNsY6fCVqZv opened #176 "Why do the labels in the Task View not primarily use the color I assigned to them when I created the labels?"
Example
#FFF9F4 becomes #FFE5CB
Unfortunately, this means that the label no longer has such a strong signal effect. It looks pale and rather pastel.

[2020-01-28 09:45] 4jNsY6fCVqZv opened #177 "Separation between unsharp label when scrolling and "Edit labels" field should be clearer"
![screenshot](https://user-images.githubusercontent.com/46536067/73252569-da428c80-41b2-11ea-9b1a-54bbaa792d97.png)

[2020-01-28 09:56] Andrewsudarikov opened #178 "Window edge gets partly obscured when snapped to edge of the screen"
**Describe the bug**
When the window is snapped to the right side of the workspace, some controls get obscured behind the edge of the screen:

**To Reproduce**
Steps to reproduce the behavior:
1. Snap the app window to the right half of the workspace by dragging it to the right edge of the screen.

**Expected behavior**
All controls and the edge of the window should be shown correctly.

**Screensh

[2020-01-28 10:05] alainm23 commented on #175
I think the best behavior would be to update the name of the label in all the tasks where it was assigned.

[2020-01-28 10:07] alainm23 commented on #174
It is not necessary to press the RETURN key because the label was already created.

[2020-01-28 10:10] 4jNsY6fCVqZv commented on #178
Can reproduce the same issue on the left side.
However, I found out that this is because I had to resize the sidebar manually to display my project names in their full length.
Is there a way that Planner behaves in such a way that the window content automatically correlates with the window size? I don't know if I can describe this well. I have also had the experience that I can cut off buttons whe

[2020-01-28 10:10] alainm23 commented on #171
This problem is related to: #147. And it was already resolved.

[2020-01-28 10:10] #171 closed, assigned to nobody

[2020-01-28 10:13] Andrewsudarikov commented on #178
BTW, I did not resize the sidebar or the window, I just snapped to the edge of the screen first thing after starting the app for the first time.

[2020-01-28 10:27] Andrewsudarikov opened #179 "Window does not scroll to new subtask if subtask list is longer than window height"
**Describe the bug**
Adding the new line in checklist by pressing ENTER doesn't automatically scroll to the highlighted line, so the user has to use mouse/touchpad to manually scroll down to see what's being typed in the new checklist line.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a task in any project.
2. Add as many items in checklist as is enough to fill the app's window.
3.

[2020-01-28 10:35] alainm23 commented on #176
I tried to put the same solid color but I did not like the result. That's why I decided to lower the intensity and I think it looks better this way.

[2020-01-28 10:46] 4jNsY6fCVqZv commented on #175
I'm not sure about that.
For example, I have given the label "apple".
After some time of using it, I realize that this is no longer appropriate.
Instead of simply deleting it in the settings, I realize that I need a completely new label for something else at the same time. So I overwrite the old label "apple" with the new label "bicycle". But if I had assigned the old label twenty times, I would h

[2020-01-28 10:55] 4jNsY6fCVqZv commented on #174
Yeah, but then you keep seeing a blinking cursor, right? What, from your point of view, would be the logic of how users would recognize a) that the label was created as desired and b) anticipate how they should continue/navigate from there.

[2020-01-28 11:31] Andrewsudarikov opened #180 "Mute notification sound on expanding tasks"
**Describe the solution you'd like**
Add an option to mute notification sound when expanding a task to view its notes and checklist.

**Additional context**
It may be distracting to users, especially if involved in constant editing and operations with multiple projects/tasks/checklists.

[2020-01-28 11:47] 4jNsY6fCVqZv commented on #180
This is an exciting issue!
I haven't figured out the rule yet when this sound is played. For example, I currently have a project with several sections, where only in the first section four tasks are created. At first I thought it was due to whether a note was created in the task.
However, only one of two tasks with a note has this sound.
Also, the sound reminds me of a system sound in elementary,

[2020-01-28 11:59] alainm23 commented on #180
Thank you for your comment. Sound is not a behavior programmed by Planner, rather a default behavior in elementary OS that indicates an error and a warning. You can disable it in system settings > Sounds

[2020-01-28 12:05] alainm23 commented on #175
I understand your idea but you are talking about an extreme case where the idea of ​​a label is completely changed.  But what if the user only wants to edit the label due to a misspelling or wants to add more content.  Would it be correct to remove all labels from assigned tasks?

[2020-01-28 12:27] Andrewsudarikov commented on #180
But it means the user should disable all error notification sounds. Maybe something could be done to prevent this sound fro occurring?

[2020-01-28 12:39] alainm23 commented on #180
What kind of language do you use on your system? I use Spanish and I had the problems when I use special characters for example 'ñ'

[2020-01-28 13:13] gavr123456789 opened #181 "Add the ability to log out of your Todoist account."
**Is your feature request related to a problem? Please describe.**
As I already noticed [here](https://github.com/alainm23/planner/issues/166)  I have a problem with Todoist sync. I would like to try logging out of my account and logging in again to see if this fixes the problem.

**Describe the solution you'd like**
Add the logout button here.
![image](https://user-images.githubusercontent.com/30

[2020-01-28 14:15] alainm23 commented on #181
Sure 😉️.

The Planner database is located at: `/home/<user>/.local/share/com.github.alainm23.planner/`

[2020-01-28 14:33] 4jNsY6fCVqZv commented on #180
Indeed, in my case the trigger seems to be a special character in a section title.
But I don't understand: Why would a task or section with a special character trigger such a system alarm/system warning? And this only happens when the note element is opened or closed.

[2020-01-28 14:39] alainm23 commented on #180
This happens because when you activate the editing of a project, section or task Planner automatically gives the focus to the Gtk.Entry and sends the cursor to the last character so you can edit quickly. But it seems that special characters do not take them into account and send an error.

[2020-01-28 15:14] 4jNsY6fCVqZv commented on #180
And how exactly does this cause the error sound?

[2020-01-28 15:18] 4jNsY6fCVqZv commented on #180
By the way, it does not make the sound with every action.

[2020-01-28 15:28] yannicka commented on #175
I think it's better to update the name rather than remove the label.

[2020-01-28 16:12] 4jNsY6fCVqZv commented on #176
What is the current hex value of the font color in Planner? Or especially in the labels, if it differs within the app.

How did you reduce the intensity?

[2020-01-28 17:11] alainm23 commented on #176
here: https://github.com/alainm23/planner/blob/master/src/Services/LabelsController.vala#L10

[2020-01-28 17:11] gavr123456789 commented on #181
@alainm23 amm, no, there no com.github.... folder
[code]

[2020-01-28 17:16] alainm23 commented on #181
I think that Flatpak is different, try here:
`/home/<user>/.var/app/com.github.alainm23.planner/data/com.github.alainm23.planner/`

[2020-01-28 17:29] gavr123456789 commented on #181
yes, u right, ty.

[2020-01-28 17:31] gavr123456789 commented on #181
![image](https://user-images.githubusercontent.com/30507409/73289040-0e4a9b80-420d-11ea-8391-84012bb2f894.png)
And now I understand why I can't sync with todoist, somehow flatpak can't find the network?
But before it worked!

[2020-01-28 20:52] #181 closed, assigned to nobody

[2020-01-29 12:40] 4jNsY6fCVqZv opened #182 "Animation for deletion, instead of the normal trash button"
I love this fine animation when deleting a list item.
My idea: To use this animation - besides the context menu item - everywhere for deleting within the app. For tasks, sections, projects or areas.
Because currently I have to open a task before I can press the trashcan button. The right click menu seems to be almost faster. The animation not only looks nicer, but also simplifies the usability of

[2020-01-29 12:44] 4jNsY6fCVqZv opened #183 "Why are there two ways to access the task settings?"
The right-click context menu is available in most apps.
What I still don't understand, however, is why I should first open a task and then use a three-point menu to achieve the same effect as the context menu itself. This seems to me a bit awkwardly solved. What made you decide to design it that way?

Perhaps still in this context: due dates, reminders and labels are also only possible via the add

[2020-01-29 12:53] 4jNsY6fCVqZv commented on #176
Where can I find the hex value of the (label) font color there?

[2020-01-29 13:26] alainm23 commented on #182
I believe that deleting a project or section requires a confirmation message why the information being deleted is very important.

[2020-01-29 19:51] Philip-Scott commented on #133
Yeah, you can do some interesting stuff :D

![image](https://user-images.githubusercontent.com/10786508/73391837-92446800-428d-11ea-8eda-06c38da07409.png)

[2020-01-30 04:33] Philip-Scott opened #185 "The app is way too sexy looking."
**Describe the "bug"**

This app is way too good looking, you need to tone it down! Between the animations, the colors, and even the default getting started, just look at this:
![image](https://user-images.githubusercontent.com/10786508/73419915-b2981500-42d5-11ea-8880-05df9ac97496.png)

10/10, only rice could make it better!

But seriously man, I had to give you props for making the app. One of t

[2020-01-30 05:04] alainm23 commented on #185
Thank you for your comments. You really made me smile. I'm a Latino like you, too. And it's very satisfying that you like my work.

[2020-01-30 05:10] alainm23 commented on #128
Available in version 2.1.

[2020-01-30 05:10] #128 closed, assigned to nobody

[2020-01-30 05:11] alainm23 commented on #137
Any update with this error?

[2020-01-30 05:12] alainm23 commented on #151
Fixed in version 2.1

[2020-01-30 05:12] #151 closed, assigned to nobody

[2020-01-30 05:16] alainm23 commented on #161
4/5 of the described problems were solved.

[2020-01-30 05:16] alainm23 commented on #162
Fixed in v2.1

[2020-01-30 05:16] #162 closed, assigned to nobody

[2020-01-30 05:17] alainm23 commented on #164
Could you solve the problem?

[2020-01-30 06:16] gavr123456789 commented on #137
I have no idea what the problem is, but it's probably just me.
[code]
I have all the libecal files, but pkg config doesn't see them.
[code]
have no idea

[2020-01-30 06:22] sollymay commented on #164
Issue solved by installing flatpak version, uninstalling app center version, uninstalling flatpak and reinstalling app center version.

Really weird but hey, it worked and now it’s the official version.

[2020-01-30 10:27] 4jNsY6fCVqZv commented on #161
Wonderful, thank you very much!
Could you imagine ticking off the already solved issues?

[2020-01-30 10:41] alainm23 commented on #164
Great!!!

[2020-01-30 10:41] #164 closed, assigned to nobody

[2020-01-30 10:56] BDPeterV commented on #137
Have you also installed  "libecal1.2-dev" (not the same as libecal-1.2), which is needed to build the app?

[2020-01-30 10:56] 4jNsY6fCVqZv commented on #161
Exciting. When I see the last open point, I wonder if there should be a visual separation in the sidebar.

Username
->Seperator
Inbox
Today
Upcoming
->Seperator
Projects
->Seperator
Areas

Drag and drop would then not be possible randomly, but only within a defined category. How do you feel about this idea? But that's probably an separate issue then, right?

[2020-01-30 11:08] alainm23 commented on #161
In version 2.1 the project panel was redesigned. A visual separation between action items, projects and areas was added.

[2020-01-30 11:09] 4jNsY6fCVqZv commented on #182
Makes sense. And how do you see this for individual tasks?
Couldn't the message also appear when I call up the animation?

[2020-01-30 11:24] 4jNsY6fCVqZv opened #186 "If an area is deleted whose name contains a special character, e.g. "&" the area name should still be displayed in the dialog window"
![screenshot](https://user-images.githubusercontent.com/46536067/73445093-e022a400-4351-11ea-8891-0a3423cffc6e.png)

By the way, emojis do not cause any problems. Also when I want to delete projects via the sidebar, the correct project title with its special character is shown in the delete dialog.

[2020-01-30 11:27] 4jNsY6fCVqZv commented on #186
**EDIT**: I have tried to find out what happens when a project title has other and several special characters in its name. Therefore I renamed an existing project. To "Test&++". If I now try to delete the project, the dialog window only shows me the old project name. I would expect it to update itself automatically.

**EDIT2**: After a restart of Planner and a new try to delete the renamed project

[2020-01-30 11:39] gavr123456789 commented on #137
Yaay, it works after i installed libical  3.0.7-1 (Arch)
PS In the Flatpack version, I had emoticons, and now it looks like broken UTF codes instead. Is there something specific that I should set up for them?
![image](https://user-images.githubusercontent.com/30507409/73446525-ff2f2f00-436d-11ea-91d3-2d5b3f95d661.png)

-------PSSS--------
Also, are you sure that this behavior was planned? (the fir

[2020-01-30 11:49] 4jNsY6fCVqZv opened #187 "Crazy selection bar appears"
![Screenshot](https://user-images.githubusercontent.com/46536067/73447211-2974f280-4356-11ea-873a-f27e9feb90bb.png)

Neither opening and closing the task nor switching to another project or e.g. Today view in the meantime removes this selection. What works is to close Planner and start it again.

**EDIT**: It seems as if there is a connection with drag and drop. At least I can reproduce it by tryi

[2020-01-30 11:53] alainm23 commented on #137
1. I'm not sure what's wrong with the character display, could you open a new issue for this please?
2. I'm not sure what's going on here too 😅.

I'm going to close this issue because it's already been solved.

[2020-01-30 11:53] #137 closed, assigned to nobody

[2020-01-30 11:57] alainm23 commented on #186
This seems to be a problem with Granite, I'm going to send an issue to find out what's going on.

[2020-01-30 12:38] Andrewsudarikov commented on #187
I confirm this bug. Same thing happened to me.

[2020-01-30 12:51] alainm23 commented on #182
But deleting a project, section or task is already available from the context menu. Just right click on it.

[2020-01-30 14:23] 4jNsY6fCVqZv commented on #182
Maybe I used some confusing language?

My idea was to remove this trash button.
![Screenshot](https://user-images.githubusercontent.com/46536067/73456750-592df580-436a-11ea-90f1-2f4bad53b760.png)

And instead, insert the animation for deletion (-> little rolling X icon) next to each task/project/area. Just as this already exists for the items in the checklist.
![Screenshot ](https://user-images.gi

[2020-01-30 14:27] 4jNsY6fCVqZv commented on #150
The issue sometimes also causes the window to start so small that the action buttons are not displayed.

[2020-01-30 14:44] worldofpeace opened #189 "Deprecation warnings"
**Describe the bug**
I see these when building with gtk 3.24.13 NixOS
[code]

[2020-01-30 18:59] gfavaro commented on #185
I have to agree. This is really awesome!

[2020-01-30 19:12] Philip-Scott commented on #185
Hermano Latino!!! I'm glad to know that it made you smile :) Keep up the great work man, and let me know if you ever need anything!

[2020-01-30 22:12] alainm23 commented on #185
Thank you very much. I'll keep that in mind. I'm going to close this issue because I don't think anyone can solve it 😅.

[2020-01-30 22:12] #185 closed, assigned to nobody

[2020-01-31 08:42] 4jNsY6fCVqZv opened #190 ""About" should always show the latest version"
Even after the update to 2.1.1 it still says "v2.0.8"
I wonder: Can Planner get the current version in "About" automatically or do you have to change it manually for each new version?

[2020-01-31 08:48] 4jNsY6fCVqZv commented on #171
Currently does not work with version 2.1.1. **EDIT**: I use the AppCenter version.
By the way: What does the option "Run in background" mean? Unfortunately there is no explanation in the settings. Do I need to enable it, so that the option "Run on startup" also works?

[2020-01-31 08:56] 4jNsY6fCVqZv commented on #161
@alainm23 With the visual separation, do you mean that there is now more space between the action items and the projects/headline? Somehow it also seems as if the space between individual projects and areas has increased and projects belonging to a certain area have moved closer to the area. Is this true?

[2020-01-31 09:06] 4jNsY6fCVqZv opened #191 "There should be a possibility to export/import my database"
For backup purposes.

Perhaps the approach of KeepassXC is exciting to mention here. I have always two files: user.kdbx & user.old.kdbx. As soon as a change is made to the database, a backup from before the change remains. Maybe this is also helpful if a backup file suddenly stops working.

Maybe a solution can be thought together with https://github.com/alainm23/planner/issues/105?

[2020-01-31 14:45] alainm23 commented on #187
I can't reproduce the error in v2.1.

[2020-01-31 14:47] Andrewsudarikov commented on #187
Yes, the bug is gone in 2.1.1

[2020-01-31 14:47] Andrewsudarikov commented on #178
The bug is gone in 2.1.1

[2020-01-31 16:51] 4jNsY6fCVqZv commented on #178
Not for me, unfortunately.

[2020-01-31 16:54] WebShapedBiz commented on #171
I'm sorry to report but version 2.1.1. is still not launching at startup.
@4jNsY6fCVqZv this option means that it doesn't pop up on the desktop when it starts, instead, it runs minimized in Plank. That's cool feature to have.

[2020-01-31 16:56] 4jNsY6fCVqZv commented on #187
Just managed to reproduce the issue again with the same task in 2.1.1 I'm testing it again.
@alainm23 Did you make any changes that might have solved the problem?

[2020-01-31 17:06] 4jNsY6fCVqZv commented on #171
@WebShapedBiz Thank you for the explanation!
Does this only work during system startup if "Run on startup" and "Run in background" have been enabled simultaneously before?
I just tried the following now:
"Run in background" -> activated.
"Run on startup" -> disabled.
But Planner starts normally in the window, unfortunately not minimized.

[2020-01-31 17:13] alainm23 commented on #171
**Run in background:** This feature causes Planner to run in the background when it is closed, with the intention of updating itself and sending notifications (reminders)

**Run on startup:** This feature causes Planner to start with the system with the intention of updating itself and sending notifications (reminders)

[2020-01-31 17:13] alainm23 commented on #171
@WebShapedBiz Did you install Planner from AppCenter or Flathub?

[2020-01-31 17:33] 4jNsY6fCVqZv opened #192 "Moving a task from one project to another project within the same area gives me a Todoist error"
![Screenshot](https://user-images.githubusercontent.com/46536067/73559351-c5812580-444c-11ea-9bfa-705a1eae927c.png)

Background information: I don't have a Todoist account and therefore this service is not activated. I use Planner v2.1.1 locally.

Another observation I made while testing this error. Something similar to https://github.com/alainm23/planner/issues/187 occurs. Just in the sidebar.
Th

[2020-01-31 17:38] 4jNsY6fCVqZv commented on #171
@alainm23 Do you think it makes sense that your explanation appears in the settings menu for these options? Perhaps these are not always self-explanatory.

**EDIT**: After your explanation, I can say: the "Run in background" feature works!

[2020-01-31 18:03] alainm23 commented on #171
Sure 😉️.

[2020-01-31 19:38] WebShapedBiz commented on #171
@alainm23 from the AppCenter.

[2020-01-31 19:45] alainm23 commented on #171
You probably need to turn the switch off and on again for this to work.

[2020-01-31 19:48] WebShapedBiz commented on #171
@alainm23 you were right, now everything works :-)

[2020-02-01 08:36] 4jNsY6fCVqZv commented on #171
Oh okay, I tried https://github.com/alainm23/planner/issues/171#issuecomment-580882608 again.
My expectation was that Planner would open a window in the foreground every time I log into my desktop.
Now that I really had an event for today, I immediately saw a badge with "1". And when I open Planner, the badge disappears again. That's how it's supposed to be, right?

[2020-02-01 10:28] 4jNsY6fCVqZv opened #195 "After I have deleted the example project via the sidebar, the view changes to the Welcome Screen"
The funny thing is, I have several projects and areas left, which are still all shown in the sidebar. I would expect the next project or homepage to be displayed, but not the welcome screen again. I use the AppCenter version 2.1.1.

**EDIT**: A restart of the app shows my self chosen homepage again.
The issue can be reproduced at will. Simply generate a new example project in the settings, delete

[2020-02-01 10:28] gavr123456789 opened #196 "Emoji icons are not displayed"
**Describe the bug**
Emoji icons are not displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Install Planner via AUR without installing additional packages

**Screenshots**
![image](https://user-images.githubusercontent.com/30507409/73590711-8f987b80-44f6-11ea-8468-1da7559cd017.png)

**Desktop (please complete the following information):**
 - GNOME Arch

**Additional context**
It seems

[2020-02-01 10:42] gavr123456789 opened #197 "Endless waiting when adding to Today."
**Describe the bug**
Endless waiting when adding to Today.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Today
2. Try to add new task
3. May be it will endless
4. May be not

**GIF**
![bug](https://user-images.githubusercontent.com/30507409/73590841-4517fe80-44f8-11ea-8210-2d7993504c18.gif)

**Desktop (please complete the following information):**
 - gnome arch
 - From AUR

**Additio

[2020-02-01 10:44] 4jNsY6fCVqZv opened #198 "When I try to change project colors from the sidebar, a Todoist error appears"
![Screenshot](https://user-images.githubusercontent.com/46536067/73590862-8e0f8900-44df-11ea-91c8-211086f81cc7.png)

Unfortunately reproducible at will. I use the AppCenter version 2.1.1, but only locally. Todoist is not activated in the settings.

[2020-02-01 10:56] 4jNsY6fCVqZv commented on #197
Cannot reproduce the issue with the latest AppCenter version.

A question I have to ask myself though: Shouldn't Today view and Upcoming view simply show what/if tasks are there? Maybe it should not be possible to create tasks in the Today view. Especially since I noticed while testing this issue here that only with this possibility further errors in the interaction with the Inbox view occur.

[2020-02-01 14:09] 4jNsY6fCVqZv opened #199 "If no completed tasks exist that can be shown or hidden, this menu item should always be insensitive/greyed out"
what it says on the tin!

[2020-02-01 14:19] nandgator commented on #54
Yes, adding a recurring reminder option will be good. For instance I want to be reminded to complete certain registration before a due date, but I'm waiting for a few documents. So once I get the documents I do not forget to register.

[2020-02-01 15:22] yannicka commented on #198
I've the same error since 2.1.

[2020-02-02 10:18] #190 closed, assigned to nobody

[2020-02-03 09:42] #189 closed, assigned to nobody

[2020-02-03 10:10] alainm23 commented on #186
I've been seeing this error and I've realized that using this special character causes errors when synchronizing with Todoist, when displaying the alerts, etc.

My solutions are:

1. Restrict the use of this character, do not allow the user to save if this character is available.
2. Replace the character with an `And` or a `space`.

I'm leaning toward option 2.

[2020-02-03 10:17] 4jNsY6fCVqZv commented on #186
What about solution 3: Possibility to display special characters correctly? Special characters are often an integral part of a language. They may not be replaceable or at least not as easy as the example "&".

Where do you see the connection to the problem of synchronization with Todoist? There are some people who use Planner only locally. They shouldn't be affected by this, right?

[2020-02-03 12:31] Andrewsudarikov opened #200 "[Feature request] Multiline tasks in projects and checklists"
**Describe the solution you'd like**
If the text in task description is longer than can fit in one line, make the task multiline so that the end of the description doesn't get obscured by the window edge.

[2020-02-04 04:51] #172 closed, assigned to nobody

[2020-02-04 04:51] #173 closed, assigned to nobody

[2020-02-04 04:51] #174 closed, assigned to nobody

[2020-02-04 04:53] alainm23 commented on #172
![image](https://user-images.githubusercontent.com/33765137/73714935-57ed2780-46e0-11ea-8dc8-bf08d30be501.png)

[2020-02-04 04:56] alainm23 commented on #175
I think the same as you @yannicka.

[2020-02-04 08:18] 4jNsY6fCVqZv commented on #175
@yannicka @alainm23 Do you see a reasonable way to solve both use cases together?

[2020-02-04 08:24] 4jNsY6fCVqZv commented on #172
Much better from my perspective! When I think about adding a reminder, what do you think about moving "Add Label" to the bottom?

Btw. I always ask myself that. Applies to the whole app, including tooltips: Should it be called "Add Label" or "Add label"? To make it coherent.

[2020-02-04 08:25] 4jNsY6fCVqZv commented on #174
May I ask why you closed the Issue?

[2020-02-04 12:26] alainm23 commented on #172
- I'm putting it on top so that the user always has the focus when creating a new Label.
- I'm not sure which one is right haha.

[2020-02-04 12:30] alainm23 commented on #174
Now you have to press the RETURN key to create a new label.

[2020-02-04 17:34] yannicka commented on #175
If I want to rename the label (e.g. for correction/improvement of the label): I rename it and the associated tasks will use the renamed label.

If I want to delete the label (e.g. when the label is no longer necessary): I delete it and the label is removed from the associated tasks.

[2020-02-04 18:01] alainm23 commented on #175
I agree with you, I think we shouldn't think so much about this. If the user wants to change his tags completely he can delete them.

[2020-02-04 20:25] alainm23 commented on #200
You are right, this way there will be more space to add more indicators (comment, checklist, etc.)

[2020-02-05 10:36] gavr123456789 commented on #150
I just wanted to create the same issue, but it already exists. Generally bump!

[2020-02-05 11:55] alainm23 commented on #195
I don't what happened, I can't reproduce  the bug .